@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat/neat";

//Scale
$size-small-5: 0.238em; //
$size-small-4: 0.317rem; // 5.072px
$size-small-3: 0.422rem; //6.752px
$size-small-2: 0.563rem; //9.008px
$size-small-1: .75rem; //12px
$size-base: 1rem; //16px
$size-1: 1.333rem; //21.328px
$size-2: 1.777rem; //28.432px
$size-3: 2.369rem; // 37.904
$size-4: 3.157rem; //50.512
$size-5: 4.209rem; //67.344
$size-6: 5.61rem;
$size-7: 7.478rem;
$size-8: 9.969rem;
$size-9: 13.288rem;
$size-10: 17.713rem;
$size-11: 23.612rem;
$size-11b: 27em;
$size-12: 31.475rem; //503.6px
$size-13: 41.956rem; //671.296px
$size-14: 55.927em;

//Space

$vertical-space-1: 20px; //25px 
$vertical-space-1-mobile: 1em;
$vertical-space-2: 2.50em;
$vertical-space-3: 5em;

$vertical-space-small-2: $size-small-5;
$vertical-space-small-1: $size-small-4; 
$vertical-space-large-1: $size-4;
$vertical-space-large-2: $size-6;
$vertical-space-large-3: $size-8;
$graf-space: $size-base;
//-----------

//colors
$color-black-100: #363636;
$color-black-90: #58595D;
$color-black-80: #717276;
$color-gray-150: #D1D1D1;
$color-gray-180: #A8A8A8;
$color-gray-100: #E0E0E0;
$color-gray-50: #F9F9F9;
$color-primary-yellow: #EEB81A;

// Typography
$base-font-family: "Courier New", Courier;
$second-font-family: "Merriweather";
$heading-font-family: $base-font-family;
$third-font-family: "Work Sans", sans-serif; 

//Animation Time 
$animation-time: .3s;

//Media Queries

//-----------//
@import "components/navigation"; /*Navigation*/
@import "components/footer";
@import "components/modaal";
//@import "templates/case"; /*Case Study*/
@import "templates/case-study";




html{
  font-size: 16px;
}

body {
  position: relative; //because of visual grid **delete at end
  font-family: $base-font-family, serif;
  font-size: 1rem;
  background-color: white;
  color: $color-black-100;
  height: 100%;
  //margin-left: 20px;
  //margin-right: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: opacity $animation-time;
  text-align: left;
  color: $color-black-100;
  &:visited{
    color: $color-black-100;
  }
  &:active{
    color: $color-black-100;
  }
  &:focus{
    color: $color-black-100;
  }
  &.text-link{
    color: $color-black-100;
    border-bottom: 1px solid #FFBCBC;
    &:hover{
      opacity: 1;
      border-bottom: 3px solid #FFF2F2;
      background-color: #FFF2F2; 
    }
    &:active{
      color: $color-black-100;
    }
    &:visited{
      color: $color-black-100;
    }
  }
}

h1{
    font-family: $third-font-family;
    font-size: $size-2;
    color: $color-black-100;
    font-weight: 600;
    margin: 0 0 .5rem 0;
    line-height: 1.2;
    @include media ($mobile-break){
      font-size: $size-2;
    }
}

h2{
  font-family: $base-font-family;
  font-size: $size-1;
  color: $color-black-100;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  @include media($mobile-break){
    font-size: 20px;
  }
}

h3{
  font-family: $third-font-family;
  font-size: $size-base;
  font-weight: 500;
  margin: 0 0 $size-base 0;

}

p{
  font-size: $size-base;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 $size-base 0;
}

.content-grid{
  @include outer-container();
}

em{
  font-weight: 600;
  font-style: normal;
}

.portfolio{
  @include span-columns (11 of 12);
  @include shift(.5);
  //border-top: 2px solid $color-black-100;
  margin-bottom: $size-6;
  @include media($tablet-break){
    @include span-columns(6);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }
  @include media($mobile-break){
    @include span-columns(4);
    border-top: none;
  }
  h1{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter";
    font-size: 18px;
    color: $color-black-100;
    //padding-left: 5px;
    margin-top: $size-base;
    font-weight: 600;
  }
}

.about-me{
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
  @include span-columns(7.5 of 11);
  @include media($tablet-break){
    @include span-columns (6 of 6);
    //@include shift(1);
  }
  @include media($mobile-break){
    @include span-columns (4);
    @include shift(0);
    padding-top:$size-base;
    padding-bottom: $size-base;

  }

   p{
    font-family: $third-font-family;
    line-height: 1.6;
    //padding-left: 5px;
    font-weight: 400;
    font-size: 29px;
    @include media($mobile-break){
      font-size: $size-1;
      margin-bottom: $size-base;
      padding-left: 0;
    }
    &.small-p{
      font-family: $base-font-family;
      font-size: 16px;
    }
  }
}

.about-me-description{
  margin-bottom: $size-4;
  @include media($mobile-break){
    margin-bottom: 0;
  }
}

.contact{
  @include row();
}
.cta{
  @include span-columns (2 of 7.5);
  @include media($mobile-break){
    @include span-columns (4 of 4);
  }
}

.contact-details{
  @include span-columns (5 of 7.5);
  @include media($mobile-break){
    @include span-columns (4 of 4);
  }
}

.contact-links{
  margin-bottom: $size-2;
  &:last-child{
    margin-bottom: 0;
  }
  li{
    display: inline-block;
    margin-right: 16px;
    @include media($mobile-break){
      margin-bottom: $size-base;
    }
  }
}

.case-studies-header{
  @include span-columns (11 of 11);
  padding-bottom: $size-base;
  font-family: $third-font-family;
  margin-bottom: $size-3;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid $color-gray-150;
  @include media($mobile-break){
    margin-top: $size-4;
  }
  .line{
    width: 24px;
    height: 2px;
    margin-top: $size-small-2;
    margin-bottom: $size-2;
    background-color: $color-black-100;
  }
}


.case-row{
  @include row();
  @include span-columns (11 of 11);
  display: flex;
  margin-bottom: $size-6;
  @include media($tablet-break){
    //display: block;
    @include span-columns(6 of 6);
    @include shift(0);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.case-study{
  @include span-columns(5.5 of 11);
  @include media($tablet-break){
    @include span-columns(12 of 12);
  }
  @include media($mobile-break){
    margin-bottom: $size-3;
  }
  p{
    color: $color-gray-180;
    font-size: 16px;
    max-width: 750px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: $size-small-4;
    padding-right: 2px;
  }
  h3{
    margin-bottom: $size-small-4;
    font-family: $third-font-family;
    font-weight: 500;
    padding-right: 2px;
  }
}

.button{
  display: inline-block;
  margin-top: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid $color-black-100;
  &:hover{
    background-color: $color-black-100;
    color: white;
  }
}

.metadata{
  color: $color-gray-150;
}


.case-study-poster{
  display: flex;
  overflow: hidden;
  margin: 0 0 $size-2 0;
  @include media($mobile-break){
    height: 100px;
  }

  &.small{
    height: $size-11;
    @include media($mobile-break){
      height: $size-9;
    }
  }

  &.one{
     background-color: #86D7FC;

  }
  &.two{
    background-color: #F3FA78;
  }

  &.three{
    background-color: #EEEDED;
  }

  &.four{
    background-color: #FFE3D5;
  }

  &.five{
    background-color: #F1F8F6;
  }

  &.coming-soon{
    opacity: .5;
  }
}

img {
  display: block;
  &.wave{
    width: 100%;
    align-self: center;
    @include media($tablet-break){
        //margin-bottom: -80px;
    }
    @include media($mobile-break){
      //margin-bottom: -20px;
    }
  }
  &.nfl{
    width: 100%;
    align-self: center;
    @include media($tablet-break){
        margin-bottom: -80px;
      }
    @include media($mobile-break){
      margin-bottom: -20px;
    }
  }

  &.lam{
    width: 100%;
    align-self: flex-end;
    @include media($tablet-break){
      margin-bottom: -90px;
    }
    @include media($mobile-break){
      margin-bottom: -20px;
    }
  }
  &.cmf{
    width: 65%;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    @include media($tablet-break){
      margin-bottom: -90px;
    }
    @include media($mobile-break){
      margin-bottom: -20px;
    }
  }
  
}
















