@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat/neat";

//Colors
$color-black-100: #4A4A4A;
$color-black-90: #58595D;
$color-black-80: #717276;
$color-gray-100: #E0E0E0;
$color-gray-50: #F9F9F9;

$action-color: $color-black-100;

//Spacing
$space-1: 1em; 

// Typography
$base-font-family: 'Work Sans';
//$second-font-family: 'merriweather';
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

//Animation Time 
$animation-time: .3s;

//Media Queries

//-----------//
@import "components/navigation"; /*Navigation*/
@import "components/footer";
@import "components/modaal";
//@import "templates/case"; /*Case Study*/
@import "templates/case-study";


body {
  position: relative; //because of visual grid **delete at end
  font-family: $base-font-family, serif;
  font-size: 1em;
  background-color: #F6F6F6;
  color: $color-black-100;
  height: 100%;
  //margin-left: 20px;
  //margin-right: 20px;
}

a{
  text-decoration: none;
}

.content-grid{
  @include outer-container();
  //margin-left: 100px;
  //margin-right: 100px;
}

.homepage{
  background-color: #F6F6F6;
  a{
    text-decoration: none;
    color: $color-black-100;
    border-bottom: 1px solid #EEB81A;
      &:hover{
        border-bottom: 1px solid #FFC61C;
      }
  }
}

.landing-introduction{
  @include span-columns(12);
  @include omega();
  height: 550px;
  display: flex;
  text-align: left;
  align-items: center;
  font-family: $base-font-family, sans-serif;
  color: $color-black-100;
  @include media($tablet-break){
    padding-right: 1em;
    padding-left: 1em;
  }

  @include media($mobile-break){
    @include span-columns (4);
    height: 500px;
    display: flex;
    align-items: center;
  }
}

//.landing-name{
  //h2{
    //color: #B2B2B2;
    //font-size: 1.25em;
    //font-weight: 500;
    //margin-bottom: 1.2em; 
  //}

  .line{
    background-color: $color-black-100;
    height: 3px;
    width: 20px;
    margin-bottom: .5em;
    //margin-bottom: .5em;
    //display: inline-block;
}

#name{
  font-family: $base-font-family;
  font-size: 20px;
  color: $color-black-100;
  //letter-spacing: -.5px;
  font-weight: 400;
  line-height: 1;
  display: block;
  margin: 0 0 15px 0;
}

.landing-title{
  h1{
    font-family: $base-font-family;
    font-size: 30px;
    color: $color-black-100;
    //letter-spacing: -.5px;
    font-weight: 500;
    line-height: 1.2;
    //max-width: 100px;
    margin: 0 0 0 0;
  }
  @include span-columns(5 of 12);
  @include media($tablet-break) {
    @include span-columns(3 of 6);
  }
  @include media($mobile-break) {
    @include span-columns(4 of 4);
  }
}

.landing-description{
  p{
    font-size: 18px;
    margin: 0;
    @include media($tablet-break) {
      font-size: 1.2em;
    }
    @include media($mobile-break) {
      font-size: 1em;
    }
  }
  em{
    font-style: normal;
    font-weight: 600;
  }
  h3{
    font-family: $base-font-family;
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    color: #4B4C4F;
    margin-top: 30%;
    padding-bottom: 1em;
    border-bottom: 1px solid $color-gray-100;
  }
  @include span-columns(6 of 12);
  @include shift(1);
  @include media($tablet-break) {
    @include span-columns(3 of 6);
    @include shift(0);
  }
  @include media($mobile-break) {
    @include span-columns(4 of 4);
    @include shift(0);
  }
}

//END OF INTRODUCTION

//Recent Work
.portfolio{
  margin-bottom: 100px;
  @include span-columns(12);
  @include media($tablet-break){
    @include span-columns(6);
    padding-left: 1em;
    padding-right: 1em;
  }
  @include media($mobile-break){
    @include span-columns(4);
  }
}

.case-study-column-left{
  @include span-columns (5.75 of 12);
  @include media ($tablet-break){
    @include span-columns(6);
  }
}

.case-study-column-right{
  @include span-columns (5.75 of 12);
  @include shift(.2);
  @include media ($tablet-break){
    @include span-columns(6);
    @include shift(0);
  }
}

.case-study-item{
  margin-bottom: 50px;
  &:hover{
    .poster img{
      bottom: -30px;
    }
  }
}

.poster{
  position: relative;
  overflow: hidden;
  height: 200px;
  img{
    position: absolute;
    bottom: -40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    transition: bottom $animation-time;
    //width: 100%;
  }
  &.wave{
    background: -moz-linear-gradient(-45deg, rgba(171,255,227,1) 34%, rgba(100,189,245,1) 76%, rgba(60,151,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(34%, rgba(171,255,227,1)), color-stop(76%, rgba(100,189,245,1)), color-stop(100%, rgba(60,151,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(171,255,227,1) 34%, rgba(100,189,245,1) 76%, rgba(60,151,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(171,255,227,1) 34%, rgba(100,189,245,1) 76%, rgba(60,151,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(171,255,227,1) 34%, rgba(100,189,245,1) 76%, rgba(60,151,255,1) 100%);
    background: linear-gradient(135deg, rgba(171,255,227,1) 34%, rgba(100,189,245,1) 76%, rgba(60,151,255,1) 100%);
  }

  &.asset-management{
    background: -moz-linear-gradient(-45deg, rgba(255,255,141,1) 34%, rgba(255,182,140,1) 76%, rgba(255,140,140,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(34%, rgba(255,255,141,1)), color-stop(76%, rgba(255,182,140,1)), color-stop(100%, rgba(255,140,140,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,141,1) 34%, rgba(255,182,140,1) 76%, rgba(255,140,140,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,141,1) 34%, rgba(255,182,140,1) 76%, rgba(255,140,140,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,141,1) 34%, rgba(255,182,140,1) 76%, rgba(255,140,140,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,141,1) 34%, rgba(255,182,140,1) 76%, rgba(255,140,140,1) 100%);
  }

}

.item-title{
  background-color: white;
  padding: 50px 50px 50px 50px;
  .work-category{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
  }
  h2{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  a{
    padding-bottom: 1px;
    font-size:14px;
    border-bottom: 1px solid #EEB81A;
    &:hover{
      border-bottom: 1px solid #FFC61C;
    }
  } 
}




//end

.end{
  width: 100%;
  background-color: $color-black-100;
  color: white;
  text-align: left;
  border-top: 5px solid #2E2F33;
  @include media ($tablet-break){
    padding-left: 1em;
    padding-right: 1em;
  }
  .bookend{
    @include span-columns(12);
    font-size: 35px;
    padding-top: 4em;
    padding-bottom: 4em;
    @include media($mobile-break){
      font-size: 20px;
    }
    a{
      color: #F4E2B2;
      &:hover{
        color: lighten(#F4E2B2, 5%);
      }
    }
  }
}








