//FOOTER

footer{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #2E2F33;
  color: #DDDDDD;
  @include media($tablet-break){
  	padding-left: 1em;
  	padding-right: 1em;
  }
  h1{
  	margin-bottom: .5em;
  	@include media($mobile-break){
  		font-size: 1em;
  	}

  }
  a{
  	color: #F4E2B2; 
  	text-decoration: none;
  }

  li{
  	float: left;
  	padding-right: 1em;
  	color: #F4E2B2;
  	font-size: 14px;
  	a{
  		color: #F4E2B2;
  		text-decoration: none;
  	}
  }
  .last{
  	font-weight: 400;
  	font-size: 14px;
  }
}