//FOOTER

footer{
  max-width: 100%;
  padding-top: $size-1;
  padding-bottom: $size-1;
  border-top: 2px solid $color-black-100;
  text-align: center;
  background-color: white;
  color: $color-black-100;
  @include media($tablet-break){
  	padding-left: 1em;
  	padding-right: 1em;
  }
  .last{
    margin-bottom: $size-small-4;
  	font-weight: 400;
  	font-size: 14px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
}


.footer-text{
  max-width: 1080px;
  margin: 0 auto;
}