//NAVIGATION

.clear{
  clear: both;
}

header{
  position: fixed;
  display: block;
  width: 100%;
  //padding-top: 20px;
  //padding-bottom: 20px;
  max-width: 1280px;
  margin: 0 auto; 
  left:0px; 
  right:0px;
  top: 0;
  transition: top $animation-time ease-in-out;

  @include media($tablet-break){
    padding-left: 1em;
  }
  @include media($mobile-break){
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .line{
    width: 100%;
    height: 3px;
    margin-left: -3px;
    background-color: #C0BEC1;
  }
}

#logo{
  position: absolute;
  top: 20px;
  left: 20px;
  padding-top: 2px;
  padding-bottom: .5px;
  padding-left: 6px;
  padding-right: 2px;
  border: 1px solid $color-black-100;
}
#logo-text {
    font-family: $base-font-family;
    font-size: $size-1;
    display: block;
    text-align: center;
    font-weight: 600;
    color: $color-black-100;
    margin-bottom: 2px;
    //border-bottom: 3px solid #C0BEC1;
    //padding-top: 2px;
    letter-spacing: 6px;
    //display: inline-block;
    &:hover{
      color: darken(#C0BEC1, 50%);
    }
}

nav{ 
  @include media($tablet-break){
    padding-left: 1em;
    padding-right: 1em;
  }
  @include media($mobile-break){
    text-align: left;
    font-size: 15px;
  }
}

nav ul {
  position:absolute;
  right:-7%;
  top: 90px;
  list-style-type: none;
  float:right;
  margin:0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  @include media($mobile-break){
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    position:static;
  }
  }

nav li {
  font-size: 0.875em;
  display: block;
  float:left;
  font-weight: 400;
  margin-left: 2em;
  margin-bottom: $size-small-1;
  :last-child{
    margin-left:0;
  }
  @include media($mobile-break){
    display: inline-block;
  }
}

header a {
  font-family: $base-font-family;
  display: block;
  font-size: 14px; 
  color: #C0BEC1;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  display: block;
  letter-spacing: 1px;
  border-bottom: none;
  &:active{
    color: $color-black-100;
  }
  &:visited{
    color: #C0BEC1;
  }
  &:hover{
    color: lighten($color-black-100, 20%);
    border-bottom: none;
  }
}

// we'll add this class using javascript
.nav-up {
  top: -66px; // same as header height. use variables in LESS/SASS
}