nav{
  @include outer-container;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  padding-right: 1rem;
  padding-left: 1rem;
  @include media($large-break){
    max-width: 1100px;
  }
  @include media($mobile-break){
    padding-top:20px;
  }
}

.nav-contents{
  @include span-columns(10 of 12);
  @include shift(1);
  display: flex;
  justify-content: space-between;
  @include media($mobile-break){
    @include shift(0);
  }
}



.logo{
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-list{
  font-size: 14px;
  @include media($mobile-break){
    display: flex;
    align-items: center;
  }


}

.nav-item{
  font-size: 14px;
  padding-bottom: 4px;
  text-transform: lowercase;
  transition: color $animation-time;
  &:visited{
    color:#b9b9b9;
  }
  &:hover{
    color: #6e6e6e;
  }
  @include media($mobile-break){
    display: inline;
    padding-left: 16px;
  }
}