//NAVIGATION

header{
  @include span-columns(12);
  padding-top: $vertical-space-50;
  h1{
    @include span-columns(1 of 12);
    font-family: 'Roboto', sans-serif;
    color: $color-black-100;
    font-weight: 700;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 0px;
    float: left;
    //background-color: white;
  }

}

nav{ 
  @include span-columns (11 of 12);

  ul{
    padding: 0;
    margin: 0;
  }

  li{
    float: left;
    padding: 5px 0px 0 0px;
    margin-right: 30px;
    .active{
      color: $color-black-100;
    }
  }

  a{
    text-transform: uppercase;
    font-size: 14px; //14px
    color: $color-gray-100;
    font-weight: 600;
    display: block;
    //border-bottom: 5px solid $color-gray-50;
    .active{
      color: $color-black-100;
    }
    &:hover{
      //border-bottom: 5px solid #EEB81A;
    }

  }


}