//Rules
$vertical-space: 2.7em; //30px - margin-bottom 
$double-vertical-space: 5em;

//-----------

body{
	background-color: white;
}

.title{
	@include span-columns(6 of 12);
	@include shift(3);
	@include omega();
	padding-top: 10em;
	margin-bottom: $vertical-space;
	header{
		font-family: "merriweather";
		font-size: 3.125em; //50pt
		line-height: 1.2;
		font-weight: 300;
		margin-bottom: 15px;
	}
	h3{
		font-family: "montserrat";
		font-size: 1.25em; //20pt
		color: #E0E0E0;
		font-weight: 400;
		margin-bottom: 6em;

	}
}

.image{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background-color: #D8D8D8;
	margin-bottom: $vertical-space;
}

.case-study{
	@include span-columns(12);
	p { 
		font-family: "merriweather";
		font-size: 1.375em; //22pt
		font-weight: 200;
		line-height: 1.75;
		margin-bottom: $vertical-space;
		}
	h1{
		font-family: "montserrat";
		font-size: 1.875em; //30pt
		font-weight: 400;
	}	
	
	h2 {
		font-size: 1.25em; //20pt
		font-weight: 400;
		}

	h4{
		font-family: "montserrat";
		font-size: .9375em; //15pt
		text-transform: uppercase;
		font-weight: 700;

	}

	li{
		font-family: "merriweather";
		font-size: 1.375em; //22pt;
		font-weight: 300;
		line-height: 1.75;
		text-transform: none;
		border-bottom: 1px solid #E0E0E0;
	}	
}


.overview{
	@include span-columns(8 of 12);
	@include shift(1);
	margin-bottom: $double-vertical-space;
}

.list{
	@include span-columns(4 of 8);

}

#outputs{
	padding-left: 91px;
}

.aside{
	@include span-columns(2 of 12);
	@include shift(1);
	ul{
		border-bottom: 1px solid #E0E0E0;
		padding-bottom: 1em;
		padding-top: 1em;
	}
	li{ 
		font-family: "montserrat";
		font-size: .875em; //14pt
		border-bottom: none;
		&:first-child{
			color: #D0D0D0;
		}
		&:nth-child(2){
			color: #5A5B5C;
		}
	}

}

.results{
	width: 100%;
	background-color: white;
	height: 300px;
	padding-top: 4.5em;
	padding-bottom: 4.5em;

	p{
		font-size: .875em; //14pt
	}

	q{
		font-size: 1.375em; //22pt
		font-weight: 300;
	}
}

.results-intro{
	@include span-columns(4);
}

.results-quote{
	@include span-columns(7);
	@include shift (1);
}

.process{
	@include span-columns (8 of 12);
	@include shift(2);
	margin-top: 11em;
	h1{
		text-align: center;
		margin-bottom: $vertical-space;
		font-weight: 700;
	}
}







//PLACEHOLDER
.placeholder{
	text-align: center;
	background-color: #EFEFEF;
	padding-top: 50px;
	color: #B4B4B4;
}




