@import "neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;


// Neat Breakpoints
$mobile: 650px;
$tablet: 769px;
$large-screens: 1000px;


$mobile-break: new-breakpoint(max-width $mobile 4);
$tablet-break: new-breakpoint(max-width $tablet 6);
//$desktop-break: new breakpoint(max-width $large-screens 12);

