@import "neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;


// Neat Breakpoints
$medium-screen: 960px;
$medium-2-screen: 630px;
$small-screen: 435px;


$medium-screen-up: new-breakpoint(max-width $medium-screen 12);
$medium-2-screen-up: new-breakpoint(max-width $medium-2-screen 12);
$small-screen-up: new-breakpoint(max-width $small-screen 8);

