<footer>
	<div class="content-grid">
		<p class="last">Justin Poston - 2016 </br>I designed and coded this using <a href="#">Bourbon</a> & <a href="#">Neat</a> & <a href="#">Middleman</a>.</p>
		<ul>
			<li><a href="#">justin.poston@gmail.com</a></li>
		</ul>
	</div>
</footer>