<footer>
	<div class="footer-text">
		<p class="last">Justin Poston - 2016</p>
		<p class="last">Designed and coded using <a class="text-link" href="#">Middleman</a> & <a class="text-link" href="#">Bourbon</a> & <a class="text-link" href="#">Neat</a>.</p>
	</div>
</footer>