<footer>
	<div class="footer-text">
		<p class="last">Justin Poston - 2016</p>
		<p class="last">I built this site using <a class="text-link" href="https://middlemanapp.com/" target="_blank">Middleman</a>, and designed it with <a class="text-link" href="http://bourbon.io/" target="_blank">Bourbon</a> and <a class="text-link" href="http://neat.bourbon.io/" target="_blank">Neat</a>. Make fun of my codez on <a class="text-link" href="https://github.com/jbposton/work" target="_blank">Github</a>.</p>
	</div>
</footer>