<footer>
	<div class="footer-text">
		<p class="last">Justin Poston - 2016</p>
		<p class="last">Designed and <a class="text-link" href="https://github.com/jbposton/work" target="_blank"> coded</a> with <3.</p>
	</div>
</footer>