<footer>
	<div class="footer-text">
		<p class="last">Justin Poston - 2016</p>
		<p class="last">I designed and coded this site using <a target="_blank" class="text-link" href="https://middlemanapp.com/">Middleman</a> & <a target="_blank" class="text-link" href="http://bourbon.io/">Bourbon</a> & <a target="_blank" class="text-link" href="http://neat.bourbon.io/">Neat</a>.</p>
		<p class="last">Give me feedback on my <a target="_blank" class="text-link" href="https://github.com/jbposton">Github</a>.</p>
	</div>
</footer>