
<header>
    <a style="float:left" id="logo" href="index.html">
    <span id="logo-text">J</span>
    </a>
    <!--<nav>
         <ul>
            <li><a class="nav-link" href="documents/JustinPoston-ProductDesigner.pdf">Resume</a></li>
            <li><a class="nav-link" href="mailto:justin.postonb@gmail.com">Contact Me</a></li>
        </ul>
        <div class="clear"></div>
    </nav>-->
    <div class="clear"></div>
</header>