
<header>
    <a style="float:left" id="logo" href="index.html">JP</a>
    <nav >
         <ul >
            <li><a href="#">Resume</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div style="clear: both;"></div>
</header>