
<header>
    <a style="float:left" id="logo" href="index.html">
    <span id="logo-text">J</span>
    <div class="line"></div>
    </a>
    <nav >
         <ul >
            <li><a class="nav-link" href="#">Resume</a></li>
            <li><a class="nav-link" href="#">Contact</a></li>
        </ul>
    </nav>
    <div style="clear: both;"></div>
</header>