
<header>
    <div class="content-grid">
        <span id="logo"><a href="index.html" class="logo-text">J</a></span>
        <nav>
            <span class="name">Justin Poston - User Experience Designer</span>
            <ul>
                <li><a href="index.html#projects">projects</a></li>
                <li><a href="documents/JustinPoston-ProductDesigner.pdf" target="blank_">resume</a></li>
            </ul>
            <div class="clear"></div>
        </nav>
    </div>
</header>