<header>
	<div class="content-grid">
		<nav>
			<h1>JP</h1>
			<ul>
				<li><a href="/article.html">One</a></li>
				<li><a href="#">Two</a></li>
				<li><a href="#">Three</a></li>
			</ul>
		</nav>
	</div>
</header>
