---
title: Justin Poston | Articles
---
<div class="content-grid">
	<div class="case-study">
		<div class="title">
			<header>Simplyfing Health Insurance</header>
			<h3>Information Architecture / Content Strategy / Interaction Design</h3>
		</div>
	</div>
</div>

<div class="image"></div>

<div class="content-grid">
	<div class="case-study">		
		<div class="overview">
			<h1>Overview</h1>
			<p>CM&F Group approach Tigerspike to not only redesign their existing site for responsive web, but to help their clients find the right insurance for them.</p>
			<h2>Towards a Solution</h2>
			<p>We took what we had and and made something amazing, scrabbling together a solution in less that two months.</p>
			<div class="list">
				<h4>My Responsibilities</h4>
				<ul>
					<li>Information Architecture</li>
					<li>Content Strategy</li>
					<li>Interaction Design</li>
					<li>Responsive Design Consulting</li>
				</ul>
			</div>
			<div class="list" id="outputs">
				<h4>My Outputs</h4>
				<ul>
					<li>Wireframing</li>
					<li>Content Sheets</li>
				</ul>
			</div>
		</div>
		<div class="aside">
			<ul>
				<li>Live Site</li>
				<li>cmfgroup.com</li>
			</ul>
			<ul>
				<li>Agency</li>
				<li>Tigerspike</li>
			</ul>
			<ul>
				<li>Year</li>
				<li>2015</li>
			</ul>

		</div>
	</div>
</div>

<div class="results">
	<div class="content-grid">
		<div class="case-study">
			<div class="results-intro">
				<h4>Results</h4>
				<p>CM&F Group approach Tigerspike to not only redesign their existing site for responsive web, but to help their clients find the right insurance for them. </p>
			</div>
			<div class="results-quote">
				<q>CM&F Group approach Tigerspike to not only redesign their existing site for responsive web, but to help their clients find the right insurance for them.- CEO CMF GROUP</q>
			</div>
		</div>
	</div>
</div>


<div class="content-grid">
	<div class="case-study">
		<div class="process">
			<h1>Our Client Mandate</h1>
			<h2>Learning about Users</h2>
			<p>CM&F Group approach Tigerspike to not only redesign their existing site for responsive web, but to help their clients find the right insurance for them.</p>
		</div>
	</div>

</div>




