---
title: Justin Poston | Articles
---

<div class="case-study">
	<div class="content-grid">
		<div class="title">
			<h1>Simplyfing Health Insurance</h1>
			<h3>Strategy / Information Architecture / Wireframing / Prototyping </h3>
		</div>
	</div>

	<div class="video">
		<video autoplay="autoplay" loop>
			<source src="/images/cmf-video.mp4" type="video/mp4">
		</video>
	</div>

	<div class="content-grid">		
		<div class="overview">
			<p>CM&F Group has provided healthcare professionals with access to the top liability insurance for the past 100 years. Known for their exceptional customer service and family owned values, I helped redesign their website to reflect their traditions while leverage new technology to better serve their customers.</p>
			<div class="list">
				<h4>My Responsibilities</h4>
				<ul>
					<li>Information Architecture</li>
					<li>Content Strategy</li>
					<li>Interaction Design</li>
					<li>Responsive Design Consulting</li>
				</ul>
			</div>
			<div class="list" id="outputs">
				<h4>My Outputs</h4>
				<ul>
					<li>Wireframing</li>
					<li>Content Sheets</li>
				</ul>
			</div>
		</div>
		<div class="aside">
			<ul>
				<li>Live Site</li>
				<li><a href="https://www.cmfgroup.com/">cmfgroup.com</a></li>
			</ul>
			<ul>
				<li>Agency</li>
				<li>Tigerspike</li>
			</ul>
			<ul>
				<li>Year</li>
				<li>2015</li>
			</ul>

		</div>
	</div>

	<div class="results">
		<div class="content-grid">
			<div class="results-intro">
				<h4>Results</h4>
				<p>CM&F Group approach Tigerspike to not only redesign their existing site for responsive web, but to help their clients find the right insurance for them.</p>
			</div>
			<div class="results-quote">
				<q>We had a full brand / marketing analysis done and the home run is our existing website.  When compared to our industry and piers it was unmatched in the analysis.  That was certainly awesome to hear.</q> - CEO of CM&F GROUP
			</div>
		</div>
	</div>


	<div class="content-grid">
		<div class="process">
			<h1>Our Client Mandate</h1>
			<h2>Learning about Users</h2>
			<p>CM&F Group approach Tigerspike to not only redesign their existing site for responsive web, but to help their clients find the right insurance for them.</p>
		</div>
	</div>
</div>




