<div class="wave-case">
	<div class="content-grid">
		<div class="case-intro-wrapper">
			<div class="case-intro">
				<div class="title">
					<h1>Wave Video Player</h1>
					<span class="description">Led UX design efforts and prototyped designs for a new video streaming concept.</span>
				</div>
				<div class="credits">
					<ul>
						<span>Year</span>
						<li>2015</li>
					</ul>
					<ul>
						<span>Agency</span>
						<li>Tigerspike</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="case-poster wave">
		<div class="content-grid">
			<div class="case-poster-box">
				<img class="case-poster-img" src="images/wave-brief-poster-2.png">
			</div>
		</div>
	</div>
	<div class="brief">
		<div class="content-grid">
			<div class="brief-box">
				<span class="brief-text">A large media company asked us to design an innovative video player experience for their new online streaming service. The main objectives: Keep users watching and promote more content, ultimately driving ad revenue.</span>
			</div>
		</div>
	</div>
	<div class="process">
		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Defining the Problem</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p class="first-graf">Before any design, it was important to understand what we were designing for; what problems were we trying to solve.</p>
						<p>To gather information, I led <em>working sessions</em> with our client, conducted <em>user research</em>, and began asking important questions:</p><span class="quote">Who are our users? What do they need from a video player? When do they watch online?  Why do they stop?</span>
						<p class="last-graf">These efforts helped define our feature <em>requirements</em> and the key <em>user scenarios</em> we wanted to focus on. As an extra step, I <em>led prioritization sessions</em> with our client to get everyone aligned around our goals.</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-gallery">
						 <a href="images/wave-brainstorm.JPG" rel="gallery-research" class="gallery ">
							<img src="images/wave-brainstorm.JPG" class="border">
						</a>
						<a href="images/wave-research.png" rel="gallery-research" class="gallery two">
							<img src="images/wave-research.png" class="border">
						</a>
					</div>
					<span class="caption">
						<em>Gathering Requirements and Initial User Assumptions</em></br>
						Initial design requirements came out of collaborative working sessions with our team and our stakeholders. Odeally I would conduct user interviews to inform initial requirements. However, given limited time and budget, we could not afford the luxury of upfront, extensive research. In lieu of proper user research, I looked for relevant research and articles online and kept track of my assumptions&mdash;user assumptions helped frame user testing later in the project.
					</span>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Design Research</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<h3>How are others solving similar challenges?</h3>
						<p>With a better understanding of our design challenges, I  looked for inspiration and relevant solutions in the wild. I conducted <em> market research</em> and presented existing solutions to both internal and client teams.</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-gallery">
						 <a href="images/wave-competitive-research-deck.png" rel="gallery-research" class="gallery">
							<img src="images/wave-competitive-research-deck.png" class="border">
						</a>
						<a href="images/wave-competitive-examples.png" rel="gallery-research" class="gallery">
							<img src="images/wave-competitive-examples.png" class="border">
						</a>
						<span class="caption"><em>Market Research:</em> 
						</br>
						Short form video sites and music web apps were a major source for inspirtation. Best-in-class examples kept their content playing even while users explored new options. </span>
					</div>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Promote Content</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<h3>Meet the users where they are.</h3>
						<p>One of the primary challenges was how to get users continuously watching more content. Our strategy: promote the right content in the right context. 
						</br></br>
						To understand what types of content to promote and when, I created a <em>content model</em> and mapped out relevant connections between video types. To inform the process, I asked our analytics team about viewing behavior trends on the current product. Both informed our navigation system and content structure within the video player experience. 
						</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-gallery">
					<a href="images/wave-content-model.png" rel="gallery-research" class="gallery two">
							<img src="images/wave-content-model.png" class="border">
					</a>
					<a href="images/wave-data-analytics.png" rel="gallery-research" class="gallery two">
							<img src="images/wave-data-analytics.png" class="border">
					</a>
					<span class="caption"><em>Content Modeling & Information Architecture</em></br>Left: Led content modeling session to model connections between types of video content.</br>Right: Gathered data from the analytics team about most popular video categories on the current platform. "Continue Watching" was the most used category.
					</span>
					<a href="images/wave-structure.png" rel="gallery-research" class="gallery one">
							<img src="images/wave-structure.png" class="border">
							<span class="caption">
								Initial content structure and navigation iteration that came out of content modeling exercise
							</span>
					</a>
					</div>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Keep users watching</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<h3>Ideating and Presenting Design</h3>
						<p>
						Another key challenge was how to keep users using the video player longer&mdash;even if they didn't know what to watch. 
						</br></br>
						From our initial research&mdash;reports and articles found online&mdash;we learned that our main demographic enjoyed the constant background noise and low-barrier-to-entry cable T.V. experiences provided&mdash;just turn it on, and go from there. </br></br>
						Before any detail design, I wanted to validate how users might navigate through the video content and how that could meet our business objectives. Focusing on our goals to keep users entertained while reducing the cost to finding the right content, I <em>sketched</em> and <em>wireframed</em> user flow iterations for our prioritized scenarios.
						</br></br>
						</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-gallery">
						<a href="images/wave-sketch-1.png" rel="gallery-research" class="gallery two">
							<img src="images/wave-sketch-1.png" class="border">
						</a>
						<a href="images/wave-sketch-2.png" rel="gallery-research" class="gallery two">
							<img src="images/wave-sketch-2.png" class="border">
						</a>
						<span class="caption"><em>Initial explorations vetted through sketches and wireframes</em> </br> Ideally, initial low fidelity designs would be vetted through user testing. However, not every project or budget allows for that luxury. In lieu of proper testing, I create pros and cons around each iteration as a way to guide the team and the client to make better decisions.</span>
						<a href="images/wave-wireframe-version-1.png" rel="gallery-research" class="gallery one">
							<img src="images/wave-wireframe-version-1.png" class="border">
							<span class="caption"><em>Pro:</em> allows user check out other content options while still playing their video</br>
							<em>Con:</em> only limited to content related to the current video </span>
						</a>
						<a href="images/wave-wireframe-version-2.png" rel="gallery-research" class="gallery one">
							<img src="images/wave-wireframe-version-2.png" class="border">
							<span class="caption"><em>Pro:</em> fixed video is larger</br><em>Con:</em> less content appears on scroll </span>
						</a>
						<a href="images/wave-wireframe-version-3.png" rel="gallery-research" class="gallery one">
							<img src="images/wave-wireframe-version-3.png" class="border">
							<span class="caption"><em>Pro:</em> Full immersive video watching experience. Ability to minimize video and browse entire app of content.</br><em>Con:</em> User must exit or minimize the video to browse more content. </span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Prototyping</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p>Prototyping is a large part of my design process. After inital concepts are defined and vetted, I communicate more complex interactions and user flows using prototypes. The following prototypes were created using keynote and demonstrate some of the interactions we were considering for the feature.</p>
					</div>
				</div>
				<video  controls="">
					<source src="images/wave-lo-fi-video.mp4" type="video/mp4">
				</video>
				<span class="caption"><em>Low Fidelity Prototype</em></br>
				I like to prototype designs at all different stages of the project&mdash; even during early stages. I made this prototype using Keynote. It shows an initial concept for an in-video feature we were considering. </span>
				<video  controls="">
					<source src="images/wave-mid-fi-video.mp4" type="video/mp4">
				</video>
				<span class="caption"><em>High-Fidelity Prototype</em></br>I worked with another designer to make higher fidelity versions of our prototype. We used this prototype for initial user testing sessions.</span>
			</div>
		</div>
	</div>
	<div class="content-grid">
		<div class="bookend">
			<div class="closing-remarks">
				Thanks for Viewing.
				<div class="line"></div>
			</div>
			<div class="next-steps">
			<a href="index.html">Please check out my other work</a>
			</div>
		</div>
	</div>
</div>

