<div class="case">
	<div class="content-grid">
		<div class="case-intro-wrapper">
			<div class="case-intro">
			<div class="line"></div>
				<div class="title">
					<h1>Asset Management Website</h1>
					<span class="description">UX Design and Content Strategy for an asset management web redesign</span>
				</div>
				<div class="credits">
					<ul>
						<span>Year</span>
						<li>2016</li>
					</ul>
					<ul>
						<span>Agency</span>
						<li>Tigerspike</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="case-poster lam">
		<div class="content-grid">
			<div class="case-poster-box">
				<img class="case-poster-img" src="images/lam-large-poster.png">
			</div>
		</div>
	</div>
	<div class="brief">
		<div class="content-grid">
			<div class="brief-box">
				<div class="brief-text">A large global asset management firm wanted to improve and update their public facing website. Their business was complex and unfortunately that showed through their current site. Their users stuggled through the maze of product offerings, complex content permissioning, and regional inconcistencies. As the core UX designer on the project I helped streamline their navigation, structured a set of global templates, while also working with UI designers to reiterate the new structure through a consistent visual design system.</div>
			</div>
		</div>
	</div>

	<div class="outputs">
		<div class="content-grid">
			<div class="outputs-row">
				 <div class="output-item trifecta">
					<img src="images/lam-homepage-ui.png">
				</div>
			</div>
			<p class="caption">Progressive disclosure of product offerings making for a more seamless experience.</p>
		</div>
	</div>

	<div class="outputs">
		<div class="content-grid">
			<div class="outputs-row">
				 <div class="output-item trifecta">
					<img src="images/lam-ui.png">
				</div>
			</div>
			<p class="caption">Progressive disclosure of product offerings making for a more seamless experience.</p>
		</div>
	</div>
	<div class="outputs">
		<div class="content-grid">
			<div class="outputs-row">
				 <div class="output-item trifecta">
					<img src="images/lam-modular-ui.png">
				</div>
			</div>
			<p class="caption">Progressive disclosure of product offerings making for a more seamless experience.</p>
		</div>
	</div>

	<div class="process">
		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Defining the Problem</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p class="first-graf">Before any design, it was important to understand what we were designing for; what problems were we trying to solve. As an initial step, I led <em>working sessions</em> with our client, conducted <em>literature research</em>, and began asking important questions:</p>
						<span class="quote">Who are our users? What do they need from a video player? When do they watch videos online?  Why do they stop?</span>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						 <a href="images/lam-workshop-1.JPG" rel="gallery-problem" class="gallery output-item">
							<img src="images/lam-workshop-1.JPG" class="border">
						</a>
						<a  href="images/lam-workshop-2.JPG" rel="gallery-problem" class="gallery output-item">
							<img src="images/lam-workshop-2.JPG" class="border">
						</a>
					</div>
					<p class="caption header">- User Assumptions, Requirements, and Literature Research</p>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>User Insight</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<h3>Content First</h3>
						<p>With a better understanding of what we were trying to design, I began researching known patterns and solutions already offered by competitors or related products. I used the research throughout the project to justify design decisions with my team and our client.<p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/lam-users-1.png" rel="gallery-research" class="gallery output-item">
							<img src="images/lam-users-1.png">
						</a>
						<a href="images/lam-users-2.png" rel="gallery-research" class="gallery output-item">
							<img src="images/lam-users-2.png">
						</a>
					</div>
					<p class="caption header">- Market and Pattern Research</p>
				</div>
			</div>
		</div>
		<div class="outputs">
			<div class="content-grid">
				<p class="caption">Progressive disclosure of product offerings making for a more seamless experience.</p>
				<div class="outputs-row">
					 <div class="output-item one">
						<img src="images/lam-user-results.png">
					</div>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>User Flow and Navigation</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p>One of the primary challenges was how to drive users to the right content when they lost interest or finished a video.</p>
						<p>Using behavioral research and analytics, I conducted lean working sessions to map out a contextual navigation system that would lead users to new, relevant content based on the video they were watching.</p>
						</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/lam-sketch.png" rel="gallery-navigation" class="gallery output-item one">
							<img src="images/lam-sketch.png">
						</a>
					</div>
					<p class="caption header">- Collaborative Working Sessions & Content Model</p>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/lam-userflow.png" rel="gallery-research" class="gallery output-item one">
							<img src="images/lam-userflow.png" class="border">
						</a>
					</div>
					<p class="caption header">- Information Architecture &amp; and Navigation Model</p>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/lam-wireflow.png" rel="gallery-research" class="gallery output-item one">
							<img src="images/lam-wireflow.png" class="border">
						</a>
					</div>
					<p class="caption header">- Information Architecture &amp; and Navigation Model</p>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Design Iterations</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<h3>Flexible Browsing</h3>
						<p> I <em>sketched</em> and <em>wireframed</em> user flow iterations for our prioritized scenarios.
						</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-sketch-1.png" rel="gallery-research" class="gallery output-item">
							<img src="images/wave-sketch-1.png">
						</a>
						<a href="images/wave-sketch-2.png" rel="gallery-research" class="gallery output-item">
							<img src="images/wave-sketch-2.png">
						</a>
					</div>
					<p class="caption header"> - Initial explorations and sketches</p> 
					<div class="outputs-row">
						<a href="images/wave-wireframe-version-1.png" rel="gallery-research" class="gallery output-item flow">
							<img src="images/wave-wireframe-version-1.png" class="border">
						</a>
					</div>
					<p class="caption">Pro: allows user check out other content options while still playing their video</p>
					<p class="caption">Con: only limited to content related to the current video </p>
					<div class="outputs-row">
						<a href="images/wave-wireframe-version-2.png" rel="gallery-research" class="gallery output-item flow">
							<img src="images/wave-wireframe-version-2.png">
						</a>
					</div>
					<p class="caption">Pro: fixed video is larger</p>
					<p class="caption">Con: less content appears on scroll </p>
					<div class="outputs-row">
						<a href="images/wave-wireframe-version-3.png" rel="gallery-research" class="gallery output-item flow">
							<img src="images/wave-wireframe-version-3.png" class="border">
						</a>
					</div>
					<p class="caption">Pro: Full immersive video watching experience. Ability to minimize video and browse entire app of content.</p>
					<p class="caption">Con: User must exit or minimize the video to browse more content. </p>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Prototyping</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p>Prototyping is a large part of my design process. After inital concepts are defined and vetted, I communicate more complex interactions and user flows using prototypes. The following prototypes were created using keynote and demonstrate some of the key user flows we were considering for the feature.</p>
					</div>
				</div>
				<video  controls="">
					<source src="images/wave-lo-fi-video.mp4" type="video/mp4">
				</video>
				<video  controls="">
					<source src="images/wave-mid-fi-video.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
	<div class="back">
		<div class="content-grid">
			<div class="bookend">
				<div class="closing-remarks">
					Thanks for Viewing!
					<div class="line"></div>
				</div>
				<div class="next-steps">
				<a class="text-link" href="index.html">check out my other work</a>
				</div>
			</div>
		</div>
	</div>
</div>