---
title: Justin Poston | NFL Case Study
---

<div class="nfl-case">
	<div class="content-grid">
		<div class="intro">
			<div class="title">
				<div class="line"></div>
				<h1>Box seats on a budget.</h1>
			</div>
			<div class="overview">
				<p> A large media company approached us with one goal for their football app update: Make the experience work across all devices and screen-sizes. </p>
				<ul class="contributions">
					Contributions
					<li>Research</li>
					<li>Strategy</li>
					<li>Interaction Design</li>
					<li>Prototyping</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="promo football-page">
		<div class="content-grid">
			<div class="promo-image">
				<img src="images/promo-image-football.png">
			</div>
		</div>
	</div>

	<div class="content-grid">
		<div class="summary">
			<p><em>Challenges & Solutions</em></br></br>Although the product owners asked for a responsive update, several talks with their engineering department revealed that there was no budget for a full responsive overhaul. Still interested in our ideas, the stakeholders wanted to see new creative solutions to meet their needs. 
			</br></br>
			After researching and validating the actual user need, I designed and prototyped a new solution that focused on multi-tasking instead of merely making the app responsive. The solution not only met our business goals and engineering capabilities, but became a hit with users; landing the feature as the default setting for the the entire suite of apps. </br></br> We called it <em>Stadium Mode</em>. 
			
			</p>
			<div class="credits">
				<h1>CREDITS</h1>
				<ul>
					<li><span class="label-text"><em>Role</em>Experience Designer</span></li>
					<li><span class="label-text"><em>Agency:</em>Tigerspike</span></li>
					<li><span class="label-text"><em>Year:</em>2016</span></li>
				</ul>

			</div>

		</div>
	</div>

<div class="chapter">
	<div class="content-grid">
		<div class="context">
			<h1>Discovering Constraints and Prioritizing Opportunities</h1>
			<h2>Research, Strategy</h2>
			<p class="text">
			With a responsive overhaul off the table, we had to think outside the box and prioritize our solutions with the reality of the budget&#8212;a necessary step in almost all projects.</br></br>

			To generate new ideas, I turned to <em>user research</em> to understand potential focus areas for the update. I created a short <em>research plan</em>&#8212;designed to be lean and quick&#8212;that included an <em>interview script</em> and <em>user test script</em>. Luckily, the results validated that spending all our time on a responsive solution was not necessarily the best use of the client's resources. </br></br>

			The results of the study revealed that users cared less about the web app working nicely on their mobile devices and more about how it scaled on their desktop browser. They wanted to multi-task while watching the game. 
			</p>
		</div>
	</div>

	<div class="outputs">
		<div class="content-grid">
		<h4><em>Interview Script</em> guided a series of user interviews and user tests.</h4>
			<div class="outputs-gallery">
				 <a href="images/nfl-script.png" rel="gallery-research" class="gallery">
					<img src="images/nfl-script.png">
				 </a>
				 <div class="insights">
				 	<h5>Insights</h5>
				 	<p><em>When asked about their use of the web app:</em></br>Most people said they used it when they were busy doing other things online.</p>
				 	<p><em>When asked what device they use to access the content:</em></br>Most participants said they only used the web app on desktop. If they were on their phone or tablet, they just used the native app. </p></br></br>
				 	<p>With the interview results, I was able to validate my assumption that most users want to multi-task when using the web app. They were interested in scaling the video within a desktop context but not necessarily needing it to scale to their mobile device.</p>
				 </div>
			</div>
		</div>
	</div>
</div>

<div class="chapter">
	<div class="content-grid">
		<div class="context">
			<h1>Ideation and Iterations</h1>
			<h2>Interaction Design</h2>
			<p class="text">Focusing on the ability to multi-task while watching the game, I helped the team ideate new solutions for the ask. Ideas usually start by <em>sketching on paper</em> or white-boarding. I sketched out ideas and led <em>working sessions</em> with the client team to validate/invalidate preliminary approaches.</p>
			<div class="context-img">
				<img src="images/nfl-sketch-1.png" class="context-img">
				<span class="caption">Early ideas included the ability to only scale the live video with the browser.</span>
			</div>
		</div>
		<div class="context">
			<p class="text">I fleshed out our favorite ideas into <em>wireframes</em>, testing the limits using realistic content. I presented iterations to the client team every step of the way.</p>
		</div>
	</div>
	<div class="outputs">
		<div class="content-grid">
			<h4><em>Early Iterations</em></h4>
			<div class="outputs-gallery">
				 <a href="images/nfl-adaptive-video-large.png" rel="gallery-research" class="gallery two">
					<img src="images/nfl-adaptive-video-small.png" class="border">
					<span class="caption">This iteration focused on keeping other parts of the app the same while scaling the video player with the browser.</span>
				</a>
				<a href="images/nfl-stadium-mode-large.png" rel="gallery-research" class="gallery two">
					<img src="images/nfl-stadium-mode-small.png" class="border">
					<span class="caption">This iteration lets users get rid of the non-scalable parts of the app while scaling the video module.</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="chapter">
	<div class="content-grid chapter-end">
		<div class="context">
			<h1>Prototyping a Solution</h1>
			<h2>Prototyping, User Testing</h2>
			<p class="text">The final iteration did not focus on making parts of the app responsive but focused on what users cared about the most: watching the game while doing other things. </br></br>
			To test and communicate a more refined concept, we raised the fidelity up a notch. Working with another designer who created high-fidelity assets, I <em>prototyped</em> the interactions and user flow using HTML, CSS, and little bit of JS magic. This helped communicate the desired behavior to both the engineers and product owners and gave us something to put in front of the users.</p>
			</br>
			<span class="caption">The feature was called "stadium mode" and it let the users view just the live video module in a scalable browser. Click the image below to watch a video of a preliminary prototype.</span> 
		</div>
		<div class="spotlight">
			<a href="https://player.vimeo.com/video/175162894?autoplay=1&color=c9ff23&title=0&byline=0&portrait=0" class="video">
				<img src="images/nfl-prototype-thumbnail.png">
			</a>
			</a>
		</div>
		<div class="context">
			<h1>User Testing</h1>
			<p class="text"> To validate the approach, I wrote a set of <em>test cases</em>, and, with the a refined version of the prototype, was able to test the discoverability and general demand for the new feature.</p>
			<p class="text"> <em>3 out of 5</em> users successfully discovered the new feature.</p>
			<p class="text"> <em>4 out of 5</em> preferred the new feature over other options and the current experience.</p>
		</div>
	</div>
</div>

<div class="chapter">
	<div class="content-grid">
		<div class="context">
			<h1>Outcomes</h1>
			<p class="text"> Ultimately, the final solution was pretty simple. However, it allowed the user to do what they wanted to do in the first place&#8212;scale their video while doing other things. It also leveraged existing HTML capabilities, effectively requiring very little work from the engineering department. </br></br>
			User approved and under budget, the feature has since been added to the entire suite of apps, including native mobile and tablet versions. It is now the default mode when first opening the app.</p>
		</div>
	</div>
</div>

<div class="end">
	<div class="content-grid">
		<h1 class="bookend">Check out my <span class="back-home"><a href="index.html">other projects.</a></span></h1>
	</div>
</div>	





