<div class="case">
	<div class="content-grid">
		<div class="case-intro-wrapper">
			<div class="case-intro">
				<div class="title">
					<div class="line"></div>
					<h1>DTV Streaming Concept: Wave</h1>
					<span class="description">Led UX and interaction design for a streaming video app.</span>
				</div>
				<div class="credits">
					<ul>
						<span>Agency</span>
						<li>Tigerspike</li>
					</ul>
					<ul>
						<span>Contributions</span>
						<li>Strategy</li>
						<li>UX Design</li>
						<li>Prototyping</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="case-poster wave">
		<div class="content-grid">
			<div class="case-poster-box">
				<img class="case-poster-img" src="images/wave-large-poster-2x.png">
			</div>
		</div>
	</div>
	<div class="brief">
		<div class="content-grid">
			<div class="brief-box">
				<div class="brief-text">A large media company asked us to design an innovative video player experience for their new online streaming service. They needed a solution that not only gave users access to their favorite content, but also helped them discover new favorites.</div>
			</div>
		</div>
	</div>

	<div class="outputs before-chpt">
		<div class="content-grid">
			<div class="outputs-row">
				 <div class="output-item medium">
					<img src="images/wave-final-ui-1.png">
				</div>
			</div>
			<div class="outputs-row">
				 <div class="output-item medium">
					<img src="images/wave-final-ui-2.png" rel="gallery-research">
				</div>
			</div>
			<div class="outputs-row">
				 <div class="output-item medium">
					<img src="images/wave-final-ui-3.png" rel="gallery-research">
				</div>
			</div>
			<div class="outputs-row last">
				 <div class="output-item medium">
					<img src="images/wave-final-ui-4.png" rel="gallery-research">
				</div>
			</div>
		</div>
	</div>

	<div class="process">
		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Defining the Problem</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p class="first-graf">Before any design, it was important to understand what we were designing for; what problems were we trying to solve. As an initial step, I led <em>working sessions</em> with our client, conducted <em>literature research</em>, and began asking important questions:</p>
						<span class="quote">Who are our users? What do they need from a video player? When do they watch videos online?  Why do they stop?</span>
					</div>
				</div>
			</div>
			<div class="outputs before-chpt">
				<div class="content-grid">
					<div class="outputs-row">
						 <a href="images/wave-assumptions.png" rel="gallery-problem" class="gallery output-item">
							<img src="images/wave-assumptions.png" class="border">
						</a>
						<a  href="images/wave-notes.png" rel="gallery-problem" class="gallery output-item">
							<img src="images/wave-notes.png" class="border">
						</a>
					</div>
					<p class="caption header">- User Assumptions, Requirements, and Literature Research</p>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Design Research</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<h3>What is out there?</h3>
						<p class="last-graf">With a better understanding of what we were trying to design, I began researching known patterns and solutions already offered by competitors or related products. I used the research throughout the project to justify design decisions with my team and our client.</p>
					</div>
				</div>
			</div>
			<div class="outputs before-chpt">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-research-examples.png" rel="gallery-research" class="gallery output-item">
							<img src="images/wave-research-examples.png">
						</a>
						<a href="images/wave-competitive-research-deck.png" rel="gallery-research" class="gallery output-item">
							<img src="images/wave-competitive-research-deck.png">
						</a>
					</div>
					<p class="caption header">- Market and Pattern Research</p>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid">
				<div class ="context">
					<div class="context-title">
						<h2>User Flow and Navigation</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p>One of the primary challenges was how to drive users to the right content when they lost interest or finished a video.</p>
						<p class="last-graf">Using behavioral research and analytics, I conducted lean working sessions to map out a contextual navigation system that would lead users to new, relevant content based on the video they were watching.</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-brainstorm.JPG" rel="gallery-navigation" class="gallery output-item">
							<img src="images/wave-brainstorm.JPG">
						</a>
						<a href="images/wave-content-model.png" rel="gallery-navigation" class="gallery output-item">
							<img src="images/wave-content-model.png">
						</a>
					</div>
					<p class="caption header">- Collaborative Working Sessions & Content Model</p>
				</div>
			</div>
			<div class="outputs before-chpt">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-structure.png" rel="gallery-research" class="gallery output-item medium">
							<img src="images/wave-structure.png" class="border">
						</a>
					</div>
					<p class="caption header">- Information Architecture &amp; and Navigation Model</p>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Design Iterations</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<h3>Flexible Browsing</h3>
						<p class="last-graf"> I <em>sketched</em> and <em>wireframed</em> user flow iterations for our prioritized scenarios.
						</p>
					</div>
				</div>
			</div>
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-sketch-1.png" rel="gallery-research" class="gallery output-item">
							<img src="images/wave-sketch-1.png">
						</a>
						<a href="images/wave-sketch-2.png" rel="gallery-research" class="gallery output-item">
							<img src="images/wave-sketch-2.png">
						</a>
					</div>
					<p class="caption header"> - Initial explorations and sketches</p> 
				</div>
			</div>		
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-wireframe-version-1.png" rel="gallery-research" class="gallery output-item large">
							<img src="images/wave-wireframe-version-1.png" class="border">
						</a>
					</div>
					<p class="caption">Pro: allows user check out other content options while still playing their video</p>
					<p class="caption">Con: only limited to content related to the current video </p>
				</div>
			</div>	
			<div class="outputs">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-wireframe-version-2.png" rel="gallery-research" class="gallery output-item large">
							<img src="images/wave-wireframe-version-2.png" class="border">
						</a>
					</div>
					<p class="caption">Pro: fixed video is larger</p>
					<p class="caption">Con: less content appears on scroll </p>
				</div>
			</div>
			<div class="outputs before-chpt">
				<div class="content-grid">
					<div class="outputs-row">
						<a href="images/wave-wireframe-version-3.png" rel="gallery-research" class="gallery output-item large">
							<img src="images/wave-wireframe-version-3.png" class="border">
						</a>
					</div>
					<p class="caption">Pro: Full immersive video watching experience. Ability to minimize video and browse entire app of content.</p>
					<p class="caption">Con: User must exit or minimize the video to browse more content. </p>
				</div>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid divider">
				<div class ="context">
					<div class="context-title">
						<h2>Prototyping</h2>
						<div class="line"></div>
					</div>
					<div class="context-info">
						<p class="last-graf">Prototyping is a large part of my design process. After inital concepts are defined and vetted, I communicate more complex interactions and user flows using prototypes. The following prototypes were created using keynote and demonstrate some of the key user flows we were considering for the feature.</p>
					</div>
				</div>
				<video  controls="">
					<source src="images/wave-lo-fi-video.mp4" type="video/mp4">
				</video>
				<video  controls="">
					<source src="images/wave-mid-fi-video.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
	<div class="back">
		<div class="content-grid">
			<div class="bookend">
				<div class="closing-remarks">
					Thanks for Viewing!
					<div class="line"></div>
				</div>
				<div class="next-steps">
				<a class="text-link" href="index.html">check out my other work</a>
				</div>
			</div>
		</div>
	</div>
</div>

