---
title: Lock Asset Management
---

<div class="case">
	<div class="content-grid">
		<div class="case-intro-wrapper">
			<div class="case-title">
				<h1>Locks Asset Management Redesign</h1>
				<p class="description">End-to-end redesign, from research and strategy, to prototyping and visual design, of a large asset management firm's costumer website.</p>
				<ul>
					<span>Agency</span>
					<li>Tigerspike</li>
				</ul>
				<ul class="contributions">
					<span>Contributions</span>
					<li>Research</li> /
					<li>Information Architecture</li> /
					<li>Interaction Design</li> 
				</ul>

			</div>
		</div>
	</div>
	<div class="case-poster lam">
		<div class="content-grid">
			<div class="case-poster-box">
				<img class="case-poster-img" src="images/lam-large-poster.png">
			</div>
		</div>
	</div>
	<div class="brief">
		<div class="content-grid">
			<div class="brief-box">
				<div class="brief-text">Far overdue for a redesign, Locks Asset Management wanted a complete overhaul of their global website. With more than 43 offices in over 40 countries, their business was complex and unfortunately that showed through their site. A maze of product offerings, complex content permissioning, and disparate regional sites, users had a difficult time navigating and finding the information they needed. As the user experience designer on the team, I helped organize their content, streamline their navigation system, and create a flexible design system that would scale across devices and country sites.</div>
			</div>
		</div>
	</div>

	<div class="outputs">
		<div class="content-grid">
			<div class="outputs-row">
				 <div class="output-item large">
					<img src="images/lam-old-user-flow.png">
				</div>
			</div>
			<div class="outputs-row">
				 <div class="output-item medium">
					<video  autoplay loop>
  						<source src="images/lam-flow-video-2x.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
			<p class="caption"><em>Redesigned Flow</em></p>
			<p class="caption">Only <em>1 Step</em> after the redesign.</p>
		</div>
	</div>

	<div class="outputs">
		<div class="content-grid">
			<div class="outputs-row">
				 <div class="output-item large">
					<img src="images/lam-navigation.png">
				</div>
			</div>
			<p class="caption"><em>Better Navigation</em></p>
			<p class="caption">Added more informative navigation to clarify the relationships between nested investment products.</p>
		</div>
	</div>
	<div class="outputs">
		<div class="content-grid">
			<div class="outputs-row">
				 <div class="output-item large">
					<img src="images/lam-modular-ui.png">
				</div>
			</div>
			<p class="caption"><em>Flexible Design System</em></p>
			<p class="caption">Defined and created a modular template system that could flex and grow across various regional sites.</p>
		</div>
	</div>
	<div class="outputs before-chpt">
		<div class="content-grid">
			<div class="outputs-row">
				<img src="images/lam-styleguide.png" class=" output-item medium">
			</div>
			<p class="caption"><em>Responsive Design System</em></p>
			<p class="caption">Working with the lead UI designer, I helped design UI patterns as a part of our larger design system.</p>
		</div>
	</div>

	<div class="process">
		<div class="chapter">
			<div class="content-grid">
				<div class ="context">
					<div class="context-info">
						<h2>Establishing Goals</h2>
						<p class="first-graf last-graf">Creating a site for a firm with 43 global offices meant three things: tons of stakeholders, various agendas, and little to no unified vision. As an initial step in the design process, I helped conduct <em>2 full-day workshops</em>, gathering a unified product vision, high-level requirements, and business priorities for the redesign.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="outputs before-chpt">
			<div class="content-grid">
				<div class="outputs-row">
					 <a href="images/lam-workshop-1.JPG" rel="gallery-problem" class="gallery output-item">
						<img src="images/lam-workshop-1.JPG" class="border">
					</a>
					<a  href="images/lam-workshop-2.JPG" rel="gallery-problem" class="gallery output-item">
						<img src="images/lam-workshop-2.JPG" class="border">
					</a>
				</div>
				<p class="caption header">- Stakeholder Workshops: working with various stakeholders to create a unified vision for the product.</p>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid">
				<div class ="context">
					<div class="context-info">
						<h2>User Insights</h2>
						<p class="last-graf">Adding to our stakeholder objectives, I analyzed past user <em>survey data</em> and conducting <em>7 user interviews</em> to understand our users' wants and needs. Not surprising, poor navigation was a painpoint for the old site.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="outputs">
			<div class="content-grid">
				<div class="outputs-row">
					<a href="images/lam-analytics.png" rel="gallery-research" class="gallery output-item">
						<img src="images/lam-analytics.png">
					</a>
					<a href="images/lam-users-2.png" rel="gallery-research" class="gallery output-item">
						<img src="images/lam-users-2.png">
					</a>
				</div>
				<p class="caption header">- Conducted qualitative interviews with users and recorded and analyzed notes using Optimal Workshop</p>
			</div>
		</div>
		<div class="outputs before-chpt">
			<div class="content-grid">
				<div class="outputs-row">
					 <div class="output-item medium">
						<img src="images/lam-user-results.png">
					</div>
				</div>
				<p class="caption">Many users had issues finding and downloading product documents on the old site. For the redesign, I made sure they were easy to find, making them prominently visible and closer to the top of the page. We even gave frequent users the ability to bookmark documents they frequently needed to download.</p>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid">
				<div class ="context">
					<div class="context-info">
						<h2>Structure and Navigation</h2>
						<p>One of the primary challenges for the site was fixing the complex navigation and creating a more efficient user flow between the regional sites and the products the users were looking for.</p>
						<p class="last-graf">Over the course of several iterations, I used <em>sketches</em>, <em>diagrams</em>, <em>wireflows</em>, and <em>prototypes</em>, to communicate and narrow down the myriad of possibilities.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="outputs">
			<div class="content-grid">
				<div class="outputs-row">
					<a href="images/lam-sketch.png" rel="gallery-navigation" class="gallery output-item medium">
						<img src="images/lam-sketch.png">
					</a>
				</div>
				<p class="caption header">- Sketched out natural connections between the regional sites. This helped define a better content model and information architecture between the sites.</p>
			</div>
		</div>
		<div class="outputs">
			<div class="content-grid">
				<div class="outputs-row">
					<a href="images/lam-userflow.png" rel="gallery-research" class="gallery output-item medium">
						<img src="images/lam-userflow.png" class="border">
					</a>
				</div>
				<p class="caption header">- Simplifying the number of steps between global and regional sites</p>
			</div>
		</div>
		<div class="outputs sketch-doc before-chpt">
			<div class="content-grid">
				<div class="outputs-row">
					<a href="images/lam-wireflow.png" rel="gallery-research" class="gallery output-item medium">
						<img src="images/lam-wireflow.png" class="border">
					</a>
				</div>
				<p class="caption header">- Wireflow used to map out a birds-eye view of the site structure</p>
			</div>
		</div>
		<div class="chapter">
			<div class="content-grid">
				<div class="context">
					<div class="context-info">
						<h2>User Testing</h2>
						<p>Working in an <em>Agile process</em>, we built and tested a working, front-end prototype with users along the way. Throughout the process we tested the usability of the site on <em> 5 client participants</em>, all from different regions, over screenshare and phone. I helped devise the testing objectives and hypotheses for the tests.</p> 
						<p><em>Testing Focus Areas</em></p>
						<p><em>1.</em> First Time User Experience: flow from the global site to the correct regional site.</p>
						<p><em>2.</em> Finding the right investment product</p>
						<p class="last-graf"><em>3.</em> Usability of audience based navigation scheme.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="outputs">
			<div class="content-grid">
				<div class="outputs-row">
					<a href="images/lam-user-test-script.png" rel="gallery-research" class="gallery output-item">
						<img src="images/lam-user-test-script.png" class="border">
					</a>
					<a href="images/lam-test-results.png" rel="gallery-research" class="gallery output-item">
						<img src="images/lam-test-results.png" class="border">
					</a>
				</div>
			</div>
		</div>
		<div class="outputs">
			<div class="content-grid">
				<div class="outputs-row">
					<div class="outputs-row">
						<a href="images/lam-breadcrumbs.png" rel="gallery-research" class="gallery output-item medium">
							<img src="images/lam-breadcrumbs.png" class="border">
						</a>
					</div>
				</div>
				<p class="caption header">- Citing the test results, I proposed adding breadcrumb navigation to inform the user of the hierarchical relationship between the investment products.</p>
			</div>
		</div>

		<div class="chapter">
			<div class="content-grid">
				<div class="context">
					<div class="context-info">
						<h2>Build</h2>
						<p class="last-graf">Working in an <em>Agile process</em>, front-end templates were built in tandem with design during <em>2 week sprints</em>. As one of the final deliverables, we created a full functioning prototype as way of testing and maintaining realistic designs.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="outputs">
			<div class="content-grid">
				<div class="outputs-row">
					<img src="images/lam-final-output.png" class="large">
				</div>
			</div>
		</div>
	</div>
	<div class="back">
		<div class="content-grid">
			<div class="bookend">
				<div class="closing-remarks">
					Thanks for Viewing!
					<div class="line"></div>
				</div>
				<div class="next-steps">
				<a class="text-link" href="index.html#projects">check out my other work</a>
				</div>
			</div>
		</div>
	</div>
</div>