---
title: Justin Poston | Playground
---

<div class="content-grid">
	<div class="portfolio">
		<div class="opener">
			<span>Experience Designer based in New York City</span>
		</div>
		<div class="left-col">
			<div id = "#" class="case-box health">
				<h2>CASE STUDY / 2016</h2>
				<a href="article.html"><h1>Simplifying Health Insurance</h1></a>
				<img src="images/cmf.png">
			</div>
			<div id = "#" class="case-box">
				<h2>CASE STUDY / 2016</h2>
				<h1>Making things for the internet</h1>
			</div>
		</div>
		<div class="right-col">
			<!--<div id = "#" class="article-box">
				<h2>ARTICLE / Febuary 2016</h2>
				<h1>Making Sense; an old practice becomes new again.</h1>
			</div>-->
			<div id = "#" class="case-box">
				<h2>CASE STUDY / 2016</h2>
				<h1>Making finance easy</h1>
			</div>
		</div>
	</div>
</div>

<div class="comic"></div>
<footer>
	
</footer>