---
title: Justin Poston | Playground
---



<div class="content-grid">
	<div class="intro-area">
		<div class="intro-text">
			<h1>User Centered Product Designer focused on building better digital services.</h1>
			<p>I'm a user-centered designer focused on all things digital. I'm interested in improving the human experience through better <em>Information Architecture, Interaction Design, Research & Strategy</em></p>
		</div>
	</div>
	<div class="work">
		<h2>Recent Work</h2>
		<div class="case-study football">
			<div class="case-title">
				<div class="line"></div>
				<h1>A better way to watch football.</h1>
				<h2>Designing the new responsive, live-video experience for the sole provider of sunday night football.</h2>
				<h3>Strategy, Prototyping,Interaction Design, Responsive Web</h3>
			</div>
			<div class="poster"> 
				<img src="images/poster-stadium-mode.png">
			</div>
		</div>
		<div class="divide"></div>
		<div class="case-study two">
			<div class="case-title">
				<div class="line"></div>
				<h1>Binge watching and prototyping.</h1>
				<h2>Designing a responsive, immersive web experience</h2>
				<h3>Information Architecture, Interaction Design, Strategy</h3>
			</div>
			<div class="poster"> 
				<img src="images/poster-stadium-mode.png">
			</div>
		</div>
		<div class="divide"></div>
		<div class="case-study three">
			<div class="case-title">
				<div class="line"></div>
				<h1>A simple insurance finder.</h1>
				<h2>Lead UX for the responsive redesign of a major healthcare insurance provider</h2>
				<h3>Information Architecture, Interaction Design, Strategy</h3>
			</div>
			<div class="poster"> 
				<img src="images/poster-stadium-mode.png">
			</div>
		</div>
	</div>
</div>
	