---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<div class="content-grid">
		<div class="about-me">
			<p>I'm Justin and I'm a <em>digital product designer.</em></p> <p> I use strategy and research to bring delight to users and value to companies.</p> <p>Check out my <a class="text-link">resume</a>, or find me on <a class="text-link">LinkedIn</a>.</p>
			<span id="recent-work-header"><div class="line"></div>Case Studies</span>
			<span class="year">2014-2016</span>
		</div>
	</div>

	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="case-row">
				<a class="case-study" href="case-study-lam.html">
					<div class="case-study-poster small four">
						<img class="lam" src="images/lam-poster-desktop.png">
					</div>
					<h3>Lock Asset Management Redesign</h3>
					<p>2016 - Website Redesign - Research, UX, Agile</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study" href="case-study-wave.html">
					<div class="case-study-poster small one">
						<img class ="wave" src="images/wave-poster-desktop.png">
					</div>
					<h3>DTV Streaming Concept: Wave</h3>
					<p>2015 - Web App - Concept Development, UX Lead, Research</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster small two">
						<img class="nfl" src="images/nfl-poster-desktop.png">
					</div>
					<h3>NFL Sunday Ticket App</h3>
					<p>COMING SOON</p>
				</a>
			</div>
		</div>
	</div>
</div>
	