---
title: Justin Poston | Product Designer
---



<div class="content-grid">
	<div class="landing-introduction">
		<div class="landing-details">
			<div class="line"></div>
			<div class="landing-title">
				<h1>User Experience Designer</h1>
			</div>
			<div class="landing-description">
				<p>I'm a user-centered designer. I combine research, strategy, and design to bring joy to users and value to companies.</p>
			</div>
		</div>
	</div>
</div>

<!--End of Top Area!-->

<div class="content-grid">
	<div class="portfolio">
		<div class="case-study-column-left">
			<div class="case-study-item">
				<div class="poster"></div>
				<div class="item-title">
					<h1>Wave</h1>
					<h2>Redesigning a video player for binge-worthy behavior</h2>
					<a href="case-study-wave.html">Read Case Study</a>
				</div>
			</div>
			<div class="case-study-item">
				<div class="poster"></div>
				<div class="item-title">
					<h1>Wave</h1>
					<h2>Redesigning a video player for binge-worthy behavior</h2>
					<a href="case-study-wave.html">Read Case Study</a>
				</div>
			</div>
		</div>
		<div class="case-study-column-right">
			<div class="case-study-item">
				<div class="poster"></div>
				<div class="item-title">
					<h1>Wave</h1>
					<h2>Redesigning a video player for binge-worthy behavior</h2>
					<a href="case-study-wave.html">Read Case Study</a>
				</div>
			</div>
			<div class="case-study-item">
				<div class="poster"></div>
				<div class="item-title">
					<h1>Wave</h1>
					<h2>Redesigning a video player for binge-worthy behavior</h2>
					<a href="case-study-wave.html">Read Case Study</a>
				</div>
			</div>
		</div>

	</div>
</div>
	