---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<div class="content-grid">
		<div class="landing-introduction">
			<div class="landing-details">
				<div class="line"></div>
				<div class="landing-title">
					<h1>Experience Designer</h1>
				</div>
				<div class="landing-description">
					<p>My name is a Justin and I'm a user-centered, digital designer. I bring value to companies by designing with their users in mind.</br></br>Check out selected work below:</p>
				</div>
			</div>
		</div>
	</div>

	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="case-study-column-left">
				<div class="case-study-item">
					<div class="poster wave">
						<img src="images/wave-home-poster.png">
					</div>
					<div class="item-title">
						<span class="work-category">web app</span>
						<h2>Wave Video Player:</br>
						Designing a binge-worthy video experience</h2>
						<a href="case-study-wave.html">Read Case Study</a>
					</div>
				</div>
				<div class="case-study-item">
					<div class="poster wave">
						<img src="images/wave-home-poster.png">
					</div>
					<div class="item-title">
						<span class="work-category">case study</span>
						<h2>Wave Video Player:</br>
						Designing a binge-worthy video experience</h2>
						<a href="case-study-wave.html">Read Case Study</a>
					</div>
				</div>
			</div>
			<div class="case-study-column-right">
				<div class="case-study-item">
					<div class="poster asset-management"></div>
					<div class="item-title">
						<span class="work-category">COMING SOON</span>
						<h2>CM&F Health Insurance:</br>
						Making it easy to apply for health insurance</h2>
					</div>
				</div>
				<div class="case-study-item">
					<div class="poster asset-management"></div>
					<div class="item-title">
						<span class="work-category">COMING SOON</span>
						<h2>CM&F Health Insurance:</br>
						Making it easy to apply for health insurance</h2>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
	