---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<div class="content-grid">
		<div class="about-me">
			<p>I'm Justin and I'm a <em>digital product designer</em>.</p> 
			<p>I focus on building digital products that bring joy to people and value to businesses.</p>
			<p>Currently at <a target="_blank" href="https://tigerspike.com/" class="text-link">Tigerspike.</a></p>
			<p><a target="_blank" href="documents/JustinPoston-ProductDesigner.pdf" class="text-link">Resume</a> - <a target="_blank" href="https://www.linkedin.com/in/justin-poston-bb571741
			" class="text-link">Linkedin</a> - <a href="mailto:justin.postonb@gmail.com" class="text-link">Get in Touch</a></p>
			<span id="recent-work-header"><div class="line"></div>Case Studies</span>
			<span class="year">2014-2016</span>
		</div>
	</div>

	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="case-row">
				<a class="case-study" href="case-study-lam.html">
					<div class="case-study-poster small four">
						<img class="lam" src="images/lam-poster-desktop.png">
					</div>
					<h3>Lock Asset Management Redesign</h3>
					<p>2016 - Website Redesign - Research, UX, Agile</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study" href="case-study-wave.html">
					<div class="case-study-poster small one">
						<img class ="wave" src="images/wave-poster-desktop.png">
					</div>
					<h3>DTV Streaming Concept: Wave</h3>
					<p>2015 - Web App - Concept Development, UX Lead, Research</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster small two coming-soon">
						<img class="nfl" src="images/nfl-poster-desktop.png">
					</div>
					<h3>NFL Sunday Ticket App</h3>
					<p>COMING SOON</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster small three coming-soon">
						<img class="cmf" src="images/cmf-poster-desktop.png">
					</div>
					<h3>CM&amp;F Health Insurance</h3>
					<p>COMING SOON</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster small five coming-soon">
						<img class="nfl" src="images/canopy-poster-desktop.png">
					</div>
					<h3>Canopy Medical Translator</h3>
					<p>COMING SOON</p>
				</a>
			</div>
		</div>
	</div>
</div>
	