---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<div class="content-grid">
		<div class="about-me">
			<p>I'm Justin and I'm a <em>digital product designer.</em></p> <p> I use strategy and research to improve user experience and bring value to businesses.</p> <p>Find me <a class="text-link">here</a>, <a class="text-link">here</a>, and <a class="text-link">here</a>.</p>
			<span id="recent-work-header"><div class="line"></div>Case Studies</span>
			<span class="year">2013-2015</span>
		</div>
	</div>

	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="case-row">
				<a class="case-study" href="case-study-wave.html">
					<div class="case-study-poster large-right one">
						<img class ="wave" src="images/wave-poster-desktop.png">
					</div>
					<h3>Wave</h3>
					<p>Led UX and interaction design for a streaming video app</p>
				</a>
				<a class="case-study right" href="case-study-lam.html">
					<div class="case-study-poster small four">
						<img class="lam" src="images/lam-poster-desktop.png">
					</div>
					<h3>Asset Management</h3>
					<p>UX Design and Content Strategy for an asset management web redesign</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster small three">
					</div>
					<h3>CM&F Healthcare</h3>
					<p>COMING SOON</p>
				</a>
				<a class="case-study right">
					<div class="case-study-poster large-left two">
						<img class="nfl" src="images/nfl-poster-desktop.png">
					</div>
					<h3>NFL</h3>
					<p>COMING SOON</p>
				</a>
			</div>
		</div>
	</div>
</div>
	