---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="about-me">
				<div class="about-me-description">
					<p>I’m Justin Poston. I’m a <em>User Experience Designer</em> based in New York City, currently working at <a href="https://tigerspike.com/" target="_blank" class="text-link">Tigerspike</a>. I’m passionate about improving the human experience through technology and human centered design.</p>
				</div>
				<div class="contact">
					<div class="cta">
						<p class="small-p"> Get in touch</p>
					</div>
					<div class="contact-details">
						<ul class="contact-links">
							<li>
								<a href="mailto:justin.postonb@gmail.com" class="small-p text-link"> justin.postonb@gmail.com</a>
							</li> 
							<li>
								<a href="tel:1-757-667-1898" class="small-p text-link">1 757 667 1898</a>
							</li>
						</ul>
						<ul class="contact-links">
							<li>
								<a href="https://www.linkedin.com/in/justin-poston-bb571741
								" target="_blank" class="small-p text-link"> LinkedIn</a> 
							</li>/ 
							<li>
								<a href="https://github.com/jbposton" target="_blank" class="small-p text-link"> Github</a>
							</li>/
							<li>
								<a href="https://www.instagram.com/justnpost/" target="_blank" class="small-p text-link">Instagram</a> 
							</li>/
							<li>
								<a href="https://open.spotify.com/user/jbposton" target="_blank" class="small-p text-link"> Spotify</a>
							</li> 
						</ul>
					</div>
				</div>
			</div>
			<div id="projects" class="case-studies-header">
				Recent Projects
			</div>
			<div class="case-row">
				<div class="case-study">
					<a class="case-study-poster small four" href="case-study-lam.html">
						<img class="lam" src="images/lam-poster-desktop.png">
					</a>
					<h3>Lock Asset Management Redesign</h3>
					<p>2016 - Website Redesign</p>
					<a href="case-study-lam.html" class="button">view</a>
				</div>
				<div class="case-study">
					<a class="case-study-poster small one" href="case-study-wave.html">
						<img class ="wave" src="images/wave-poster-desktop.png">
					</a>
					<h3>DIRECTV Wave Video Player</h3>
					<p>2015 - Web app</p>
					<a href="case-study-wave.html" class="button">view</a>
				</div>
			</div>
			<div class="case-row">
				<div class="case-study">
					<a class="case-study-poster small two" href="case-study-nfl.html">
						<img class="nfl" src="images/nfl-poster-desktop.png">
					</a>
					<h3>NFL Sunday Ticket App</h3>
					<p>2015 - Multi-Platform</p>
					<a href="case-study-nfl.html" class="button">view</a>
				</div>
				<div class="case-study">
					<a class="case-study-poster small three coming-soon">
						<img class="cmf" src="images/cmf-poster-desktop.png">
					</a>
					<h3>CM&amp;F Health Insurance</h3>
					<p>COMING SOON</p>
				</div>
			</div>
		</div>
	</div>
</div>
	