---
title: Justin Poston — Digital Product Designer
---

<nav>
	<div class="nav-contents">
		<a href="index.html" class="logo">❐</a>
		<ul class="nav-list">
			<li class="nav-item"><a href="#projects">recent projects</a></li>
			<li class="nav-item"><a href="documents/Justin-Poston_Product-Designer.pdf" target="_blank">Resume</a></li>
		</ul>
	</div>
</nav>

<div class="home">
	<div class="introduction">
		<div class="name-text">
			Justin Poston — Product Designer
		</div>
		<div class="intro-description">Designing systems that help people.</div>
	</div>

	<div class="projects" id="projects">
		<div class="proj-col">
			<div class="aside-header">Featured Projects</div>
			<a class="proj-link  top-item" href="showroom-self-serve.html">
				<div class="overlay"></div>
				<img class="project-image" src="images/home-tile-example.png">
				<div class="proj-text">
					<h4>Curalate Self-Serve</h4>
					<div class="proj-meta">UI/UX</div>
				</div>
			</a>
			<a class="proj-link top-item" href="wave.html">
				<div class="overlay"></div>
				<img class="project-image" src="images/home-tile-wave.png">
				<div class="proj-text">
					<h4>DIRECTV Video Player</h4>
					<div class="proj-meta">UI/UX</div>
				</div>
			</a>
			<a class="proj-link" href="lam.html">
				<div class="overlay"></div>
				<img class="project-image" src="images/home-tile-lam.png">
				<div class="proj-text">
					<h4>Lazard Asset Management</h4>
					<div class="proj-meta">UI/UX</div>
				</div>
			</a>
		</div>
		<div class="proj-col">
			<a class="proj-link top-item" href="showroom.html">
				<div class="overlay"></div>
				<img class="project-image" src="images/home-tile-showroom.png">
				<div class="proj-text">
					<h4>Curalate Showroom</h4>
					<div class="proj-meta">UI/UX</div>
				</div>
			</a>
			<div class="proj-link">
				<div class="overlay"></div>
				<img class="project-image" src="images/home-tile-cmf.png">
				<div class="proj-text">
					<h4>CM&F Liability Insurance</h4>
					<div class="proj-meta">Coming Soon</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer>
		<div class="footer-text">
			<div class="footer-contacts">
				<ul class="contact-links">
					<li>
						<a href="mailto:justin.postonb@gmail.com" class="footer-p text-link">E-mail</a> 
					</li> 
					<li>
						<a href="http://www.linkedin.com/in/justinbposton" target="_blank" class="footer-p text-link">LinkedIn</a>
					</li>
					<li>
						<a href="documents/Justin-Poston_Product-Designer.pdf" class="footer-p text-link">Resume</a>
					</li>
				</ul>
			</div>

			<p class="last">✨ Designed and developed by Justin Poston - 2017. </p>
		</div>
	</footer>
	