---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="about-me">
				<p>Justin Poston is a <em> digital product designer</em> based in New York City. An active listener, maker, and visual problem solver, he's passionate about improving the human experience through technology and human centered design. Currently at <a class="text-link" href="">Tigerspike</a>.</p>
				<p class="small-p"> Check out his <a class="text-link" href="documents/JustinPoston-ProductDesigner.pdf" target ="_blank">Résumé</a> or find him on <a class="text-link" href="https://www.linkedin.com/in/justin-poston-bb571741" target ="_blank">Linkedin</a>, <a class="text-link" href="https://www.instagram.com/justnpost/" target ="_blank">Instagram</a>, or <a class="text-link" href="https://github.com/jbposton" target ="_blank">Github</a>
				<p class="small-p"><a class="text-link" href="mailto:justin.postonb@gmail.com">Say hello - </a></p>
				<!--<ul class="quick-links">
					<li class="small-p">
						<a target="_blank" href="documents/JustinPoston-ProductDesigner.pdf" class="text-link">Rèsumè</a>
					</li>
					<li>
						<a target="_blank" href="https://www.linkedin.com/in/justin-poston-bb571741
						" class="text-link">Linkedin</a>
					</li>
					<li>
						<a href="mailto:justin.postonb@gmail.com" class="text-link">Get in touch</a>
					</li>
				</ul>-->	
			</div>
			<div class="case-studies-header">
				Selected Work
				<div class="line"></div>
			</div>
			<div class="case-row">
				<a class="case-study" href="case-study-lam.html">
					<div class="case-study-poster small four">
						<img class="lam" src="images/lam-poster-desktop.png">
					</div>
					<h3>Lock Asset Management Redesign</h3>
					<p>2016 - Website Redesign - Information Architecture, Interaction Design, Agile</p>
				</a>
				<a class="case-study" href="case-study-wave.html">
					<div class="case-study-poster small one">
						<img class ="wave" src="images/wave-poster-desktop.png">
					</div>
					<h3>DTV Streaming Concept: Wave</h3>
					<p>2015 - Web App - Concept Development, UX Lead, Interaction Design, Prototyping</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster small two coming-soon">
						<img class="nfl" src="images/nfl-poster-desktop.png">
					</div>
					<h3>NFL Sunday Ticket App</h3>
					<p>COMING SOON</p>
				</a>
				<a class="case-study">
					<div class="case-study-poster small three coming-soon">
						<img class="cmf" src="images/cmf-poster-desktop.png">
					</div>
					<h3>CM&amp;F Health Insurance</h3>
					<p>COMING SOON</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster small five coming-soon">
						<img class="nfl" src="images/canopy-poster-desktop.png">
					</div>
					<h3>Canopy Medical Translator</h3>
					<p>COMING SOON</p>
				</a>
			</div>
		</div>
	</div>
</div>
	