---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<div class="content-grid">
		<div class="landing-introduction">
			<div class="landing-details">
				<div class="landing-title">
					<div class="line"></div>
					<h1>Product Designer</h1>
				</div>
				<div class="landing-description">
					<span class="about-me">My name is Justin and I'm a user-centered designer. I use design to bring clarity to complex problems and create solutions that put people first. Sometimes, I even pretend to code :) </span>
					<span class="small">Currently working at <a href="">tigerspike</a></span>
					<span class="small">Find me on <a href="">LinkedIn</a>, <a href="">Twitter</a>, or <a href="">Github</a> or check out selected </br>work below:</span>
				</div>
			</div>
		</div>
	</div>

	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="case-study-column-left">

				<div class="case-study-item">
					<div class="poster wave">
						<img src="images/wave-home-poster.png">
					</div>
					<div class="item-title">
						<span class="work-category">- web app</span>
						<h2>Wave Video Player:</br>
						Designing a binge-worthy video experience</h2>
						<a class="case-link" href="case-study-wave.html">Read Case Study</a>
					</div>
				</div>

				<div class="case-study-item">
					<div class="poster last">
						<img src="images/wave-home-poster.png">
					</div>
					<div class="item-title">
						<span class="work-category">web app</span>
						<h2>Wave Video Player:</br>
						Designing a binge-worthy video experience</h2>
						<a class="case-link" href="case-study-wave.html">Read Case Study</a>
					</div>
				</div>
			</div>

			<div class="case-study-column-right">
				<div class="case-study-item">
					<div class="poster cmf">
						<img src="images/wave-home-poster.png">
					</div>
					<div class="item-title">
						<span class="work-category">web app</span>
						<h2>Wave Video Player:</br>
						Designing a binge-worthy video experience</h2>
						<a class="case-link" href="case-study-wave.html">Read Case Study</a>
					</div>
				</div>
				<div class="case-study-item">
					<div class="poster lam">
						<img src="images/wave-home-poster.png">
					</div>
					<div class="item-title">
						<span class="work-category">web app</span>
						<h2>Wave Video Player:</br>
						Designing a binge-worthy video experience</h2>
						<a class="case-link" href="case-study-wave.html">Read Case Study</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
	