---
title: Justin Poston | Product Designer
---


<div class="homepage">
	<div class="content-grid">
		<div class="about-me">
			<p>My name is Justin and I'm a <em>digital product designer.</em></p>
			<p>I use design to bring clarity to complex problems and create solutions that put people first. Sometimes, I even pretend to code.</p>
			<p>You can find me on LinkedIn, or Twitter, or Instagram</p>  
			<p>Contact me, or review my resume</p>
			<span id="recent-work-header"><div class="line"></div>Recent Work</span>
			<span class="year">2015</span>
		</div>
	</div>

	<!--End of Top Area!-->

	<div class="content-grid">
		<div class="portfolio">
			<div class="case-row">
				<a class="case-study" href="case-study-wave.html">
					<div class="case-study-poster small one">
						<img src="images/wave-poster-desktop.png">
					</div>
					<h3>Wave Video Player</h3>
					<p>web app - interaction design - prototyping</p>
				</a>
				<a class="case-study right">
					<div class="case-study-poster large-right two">
						<img src="images/nfl-poster-desktop.png">
					</div>
					<h3>NFL Sunday Ticket</h3>
					<p>Led UX design for Stadium Mode and watching better sports</p>
				</a>
			</div>
			<div class="case-row">
				<a class="case-study">
					<div class="case-study-poster large-left three">
						<img src="images/cmf-poster-desktop.png">
					</div>
					<h3>Wave Video Player</h3>
					<p>Led UX and prototyped designs for a new video streaming concept</p>
				</a>
				<a class="case-study right">
					<div class="case-study-poster small four">
					</div>
					<h3>Wave Video Player</h3>
					<p>Led UX and prototyped designs for a new video streaming concept</p>
				</a>
			</div>
		</div>
	</div>
</div>
	