---
title: Justin Poston | User Experience Designer
---

<section class="portfolio">
	<section class="intro">
		<h1>Experience design strategist living and working in New York City</h1>
	</section>
	
	<section class="cases">
		<div class="case"></div>
		<div class="casetwo"></div>
	</section>
</section>