---
title: Lazard Asset Management — Justin Poston
---

<nav>
	<div class="nav-contents">
		<a href="index.html" class="logo">❐</a>
		<ul class="nav-list">
			<li class="nav-item"><a href="#projects">recent projects</a></li>
			<li class="nav-item"><a href="documents/Justin-Poston_Product-Designer.pdf" target="_blank">Resume</a></li>
		</ul>
	</div>
</nav>

<div class="project-wrapper">
	
	<div class="project-introduction-image"><img src="images/lam-teaser.png"></div>

	<div class="project-intro">
		<div class="project-summary">
			<header style="margin-bottom: 32px">Lazard Asset Management</header>
     		 <div class="intro-text">
     		 Consolidating Lazard's disparate regional sites into a simplified, global design system.</div>
     		 <a class="btn-link" href="https://www.lazardassetmanagement.com/us/en_us" style="margin-top: 32px">Visit the site</a>
		</div>
	</div>
	
	<div class="article">
		<div class="section">
			<p class="extra-space">A long-standing and well-renowned asset management company, Lazard was looking to update their old website. With more than 43 offices in over 40 countries, their business was complex and unfortunately that showed through their site. A maze of product offerings, complex content permissioning, and disparate regional sites, users had a difficult time navigating and finding the information they needed.</p> 
			<p>I was the lead UX designer on the project and helped organize their content, streamline their navigation, and create a flexible design system that would scale across multiple devices and multiple country sites.</p>
		</div>
		<div class="section">
			<div class="image-wrapper"><img src="images/lam-homepage.png"></div>
			<div class="image-wrapper"><img src="images/lam-index-page.png"></div>
			<div class="image-wrapper"><img src="images/lam-fund-page.png"></div>
		</div>
		<div class="section">
			<h1>Aligning on a vision</h1>	
			<p>Creating a site for a firm with 43 global offices meant three things: tons of stakeholders, various agendas, and little to no unified vision. As an initial step in the design process, I helped conduct <em>2 full-day workshops</em>, gathering a unified product vision, high-level requirements, and business priorities for the redesign.</p>
			<div class="image-wrapper"><img src="images/lam_workshop.png"></div>
			<p class="extra-space">After conducting several client interviews, we brought all the key stakeholders together in one workshop and gained concensus on who we thought the most valuable users were and what information they needed.</p>
			<div class="image-wrapper"><img src="images/lam_personas.png"></div>
			<h2 class="extra-space">User Insights</h2>
			<p>Adding to our stakeholder objectives, I analyzed past user <em>survey data</em> and conducting <em>7 user interviews</em> to understand our users' wants and needs. Not surprising, finding information about Lazard's investment products was a primary need for our users, and helping them find that information became our predominate goals for the project.</p>
			<div class="image-wrapper"><img src="images/lam-data.png"></div>
			<p class="extra-space">During interviews, we found that regular site visitors thought the current pathways to content were confusing and misleading.</p>
			<p>Users had to select what type of investor they were before seeing any content on the site and for most users, this created unnecessary friction to information.</p>
			<div class="image-wrapper"><img src="images/lam_old-site.png"></div>
			<h2 class="extra-space">Considering a new approach.</h2>
			<p>I helped design out a new flow that let users explore more content without answering any uncessary questions. To gain buy-in from our key global stakeholders I worked with UI designer to vizualize and prototype two navigation concepts.</p>
			<ul class="list-block">
				<li class="list-item"><em>The Open Model</em></br>Allows users to explore as much of the global website as possible before asking about their professional status or residency.</li>
				<li class="list-item"><em>The Specified Model</em></br>
				Force users to choose their country up front, followed by their professional role, which is required by most countries to show certain types of financial information.</li>
			</ul>
			<div class="image-wrapper">
				<iframe src="https://player.vimeo.com/video/246895257" width="800" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="image-wrapper">
				<iframe src="https://player.vimeo.com/video/246895347" width="800" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<p class="extra-space">As a northstar, we ended up aligning on the Open Model as the direction we wanted the redesign to take.</p>


		</div>
		<div class="section">
			<h1>A scalable navigation and content system.</h1>
			<p>Lazard had 43 regional office sites and needed a consistent way to control and predict the content for each. Coming up with a flexible system that would scale was a primary challenge. I helped design a global content system comprised of modular page templates and a consistent navigation system that helped reduce the maitanance costs for the site.</p>
			<div class="image-wrapper"><img src="images/lam-userflow.png"></div>
			<div class="image-wrapper"><img src="images/lam-site-map.png"></div>
			<div class="image-wrapper"><img src="images/lam-wireflow.png"></div>
			<div class="image-wrapper"><img src="images/lam-content-priority.png"></div>
		</div>
		<div class="section last">
			<div class="image-wrapper"><img src="images/lam-fund-page-2.png"></div>
		</div>
	</div>
</div>
<div class="next-proj">
	<div class="next-proj-container">
		<div class="next-proj-text-block">
			<div class="next-proj-header">- Next Up</div>
			<div class="next-proj-title"><a class="text-link" href="showroom.html">Curalate Showroom</a></div>
		</div>
	</div>
</div>

<footer>
		<div class="footer-text">
			<div class="footer-contacts">
				<ul class="contact-links">
					<li>
						<a href="mailto:justin.postonb@gmail.com" class="footer-p text-link">E-mail</a> 
					</li> 
					<li>
						<a href="http://www.linkedin.com/in/justinbposton" target="_blank" class="footer-p text-link">LinkedIn</a>
					</li>
					<li>
						<a href="documents/Justin-Poston_Product-Designer.pdf" class="footer-p text-link">Resume</a>
					</li>
				</ul>
			</div>

			<p class="last">✨ Designed and developed by Justin Poston - 2017. </p>
		</div>
	</footer>