---
title: Showroom — Justin Poston
---

<nav>
	<div class="nav-contents">
		<a href="index.html" class="logo">❐</a>
		<ul class="nav-list">
			<li class="nav-item"><a href="#projects">recent projects</a></li>
			<li class="nav-item"><a href="documents/Justin-Poston_Product-Designer.pdf" target="_blank">Resume</a></li>
		</ul>
	</div>
</nav>

<div class="project-wrapper">
	
	<div class="project-introduction-image"><img src="images/showroom-teaser.png"></div>

	<div class="project-intro">
		<div class="project-summary">
			<header style="margin-bottom: 24px">Showroom</header>
     		 <div class="intro-text">Improving the online shopping experience and bridging the gap between social and e-commerce.</div>
     		 <a class="btn-link" target="_blank" href="https://twitter.com/Ardene1982/status/929129168750759936" style="margin-top: 34px">View Showroom</a>
		</div>
	</div>
	
	<div class="article">
		<div class="section">	
			<p class="extra-space">Curalate wanted to create a new product for their business partners that helped connect the media they were posting on social to the products their consumers cared about.</p>
			<p>As on of my first projects at Curalate, I was given the role as Product Design Owner and worked with a small, multi-disciplinary team to refine the initial MVP and focus on a wider Beta and General Access Release. My work focused on addressing early feedback, improving the current content architecutre, and adding scalable features to increase the adoption and use of our product. </p>
			<div class="image-wrapper with-padding extra-space">
				<iframe src="https://player.vimeo.com/video/240570655" width="375" height="668" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="image-wrapper"><img src="images/showroom-final.png"></div>
		</div>
		<div class="section">
			<h1>Defining goals & use-cases.</h1>	
			<p>Before any design was planned out, I wanted to make sure my team was aligned on the goals and use-cases for the new product. I worked with my team to define the different aspects of our experience which helped us think strategically around each context of our users' experience.</p>
			<div class="image-wrapper"><img src="images/showroom-user-flow.png"></div>
			<p class="extra-space">Early on, I also conducted a small working session with the team to brainstorm current and future use-cases. This helped prioritize our current efforts against potential future work we could focus on later.</p>
			<div class="image-wrapper"><img src="images/showroom-workshop.png"></div>
		</div>
		<div class="section">
			<h1>Addressing feedback.</h1>	
			<p>Researching and gathering initial feedback was an important first step in the redesign effort. I gathered rolling user data around the initial product through the following means:</p>
			<ul class="list-block">
				<li class="list-item">Conducted 15 usability tests with new hires to curalate.</li>
				<li class="list-item">Watched over 50 real time user sessions using Inspeclet.</li>
				<li class="list-item">Looked into current data around the type of content pilot clients were using.</li>
				<li class="list-item">Reviewed client feedback tickets gathered by our customer support teams.</li>
				<li class=list-item>Did research on comparable and competive products in the ecomm and retail space.</li>
			</ul>
			<div class="image-wrapper"><img src="images/showroom-painpoints.png"></div>
		</div>

		<div class="section">
			<h1>Improving the landing experience.</h1>	
			<p>As the first impression users would get from our product, the landing page was important to get right. After reviewing video recordings of live user sessions, I learned that most users did not interact with the first and most important feature on the page, the product carousel. For the next iteration, I wanted to make sure the content worked for low and high number of products and the association between the products and the content above was clear when a user landed on the page.
			<div class="image-wrapper"><img src="images/showroom-stl-solution.png"></div>
			<div class="aside">
				<h2 class="aside-text">Iterations</h2>	
				<p class="aside-text">Given the short timeline, I conducted quick a/b usability sessions with new Curalate hires to test competing iterations.</p>
			</div>
			<div class="image-wrapper"><img src="images/showroom-stl-iterations.png"></div>
		</div>
		<div class="section">
			<h1>Product Page improvements.</h1>
			<p>An important goal for our product was to navigate users to the products they were interested in in order to visit on-site, purchase, or explore other related products. Data showed the MVP version of the Product Page was not very useful for users and our Shop Now button was rarely clicked. For the second iteration, I helped priortize new purchase features on the page along with increasing the prominence, discoverability, and balance of important actions on the page.</p>
			<div class="image-wrapper"><img src="images/showroom-product-page-sketch.png"></div>
			<div class="image-wrapper"><img src="images/showroom-product-solution.png"></div>
		</div>
		<div class="section">
			<h1>Framework.</h1>
			<p>Another important challenge was ensuring our product could scale and meet the unique needs of many ecommerce brands. To ensure a flexible system, I created a conceptual framework for our product and shared it with our team. This framework helped structure, name, and componetize each feature in our experience. This helped create a shared language among our teams&mdash;speeding up our work and collaboration&mdash;and stood as a model for future partner customizations&mdash;allowing business partners to control aspects at the modular level.</p>
			<div class="image-wrapper"><img src="images/showroom-modular-framework-1.png"></div>
			<div class="image-wrapper"><img src="images/showroom-modular-framework.png"></div>
		</div>
		<div class="section">
			<h1>Creating a Design Language</h1>
			<p>For the visual design system, I wanted to create a language that would scale and by default, work for most brands with little to no customization.</p>
			<p>I conducted market research across over 25 brands who were currently using our product and came up with base styles that fit their aesthetic. For a large part, our brands centered around fashion and retail so I picked a typographical style that matched many brands within that industry. As far as colors I wanted to keep it as neutral as possible&mdash;centered around blacks and greys&mdash;as to not interfere with our brands' colors. I used Sketch and Sketch Symbols to codify our base elements and organized a document so that other designers could quickly pick up and use.</p>
			<div class="image-wrapper"><img src="images/showroom-styleguide.png"></div>
			<div class="image-wrapper"><img src="images/showroom-sketch.png"></div>
		</div>
		<div class="section last">
			<h1>Results.</h1>
			<p>By constantly gathering feedback and iterating our  designs, we were able to graduate our product from a MVP into a General Release within a short 6 month timeframe. In just 6 months we saw a considerable lift in all of our core metrics across the board.</p>
			<div class="image-wrapper"><img src="images/showroom-metrics.png"></div>
		</div>
	</div>
</div>
<div class="next-proj">
	<div class="next-proj-container">
		<div class="next-proj-text-block">
			<div class="next-proj-header">- Next Up</div>
			<div class="next-proj-title"><a class="text-link" href="wave.html">Directv Video Player</a></div>
		</div>
	</div>
</div>

<footer>
		<div class="footer-text">
			<div class="footer-contacts">
				<ul class="contact-links">
					<li>
						<a href="mailto:justin.postonb@gmail.com" class="footer-p text-link">E-mail</a> 
					</li> 
					<li>
						<a href="http://www.linkedin.com/in/justinbposton" target="_blank" class="footer-p text-link">LinkedIn</a>
					</li>
					<li>
						<a href="documents/Justin-Poston_Product-Designer.pdf" class="footer-p text-link">Resume</a>
					</li>
				</ul>
			</div>

			<p class="last">✨ Designed and developed by Justin Poston - 2017. </p>
		</div>
	</footer>

