---
title: DIRECTV Video Player — Justin Poston
---

<nav>
	<div class="nav-contents">
		<a href="index.html" class="logo">❐</a>
		<ul class="nav-list">
			<li class="nav-item"><a href="#projects">recent projects</a></li>
			<li class="nav-item"><a href="documents/Justin-Poston_Product-Designer.pdf" target="_blank">Resume</a></li>
		</ul>
	</div>
</nav>

<div class="project-wrapper">
	
	<div class="project-introduction-image"><img src="images/video-player-teaser.png"></div>

	<div class="project-intro">
		<div class="project-summary">
			<header style="margin-bottom: 32px">Directv Video Player</header>
     		 <div class="intro-text">Designing a new video player concept for DIRECTV's new online streaming service.
     		 </div>
		</div>
	</div>
	
	<div class="article">
		<div class="section">
			<p class="extra-space">A traditional cable company, DIRECTV asked us to design an innovative video player experience for their new online streaming service. They needed a solution that not only gave users access to their favorite content, but also helped them discover something new.</p>
			<p>I led the UX design and concept for the video player and worked with a visual designer, animator, and develper to prototype our final concept for DIRECTV. While I didn't create the final UI for the prototype, I helped define the interaction desing and overall user experience for the video player. </p>
		</div>
		<div class="section">	
			<div class="image-wrapper"><img src="images/wave-final-1.png"></div>
			<div class="image-wrapper"><img src="images/wave-final-2.png"></div>
			<div class="image-wrapper"><img src="images/wave-final-3.png"></div>
			<div class="image-wrapper"><img src="images/wave-final-4.png"></div>
			<div class="image-wrapper"><img src="images/wave-final-5.png"></div>
		</div>
		<div class="section">
			<h1>Defining the Problem</h1>	
			<p>Before any design, it was important to understand what we were designing for; what problems were we trying to solve. As an initial step, I led working sessions with our client, conducted literature research, and began asking important questions:
			</p>
			<div class="aside">
				<p class="aside-text">Who are our users? What do they need from a video player? When do they watch videos online? Why do they stop?</p>
			</div>
			<p>I helped pull together our findings into focused user requirements for the project. We used the requirements and research to design out key scenarios for the video player.</p>
			<div class="image-wrapper"><img src="images/wave-assumptions.png"></div>
			<div class="image-wrapper"><img src="images/wave-notes.png"></div>
		</div>

		<div class="section">
			<h1>Designing for continuous play</h1>	
			<p>An important business goal for the video player was to keep people watching. I explored several web video player experiences to see how other services allowed for continuous play that felt natural and useful for users. I found that allowing users to browse and watch was a very common pattern and expectation in the video streaming domain. Leveraging the new behavior, I created a framework for our player that allowed users to either binge episodic conent easily or browse and discovery content without ever having to change what they were currently viewing.</p>
			<div class="image-wrapper"><img src="images/wave-research-examples.png"></div>
			<div class="image-wrapper"><img src="images/wave-doc-6.png"></div>
			<div class="image-wrapper"><img src="images/wave-doc-1.png"></div>
			<p class="extra-space">With a more defined sense of our navigation system, I <em>sketched</em>, <em>wireframed</em>, and <em>prototyped</em> options for our prioritized scenarios. I presented more refined ideas in the form of <em>Keynote or InVision prototypes</em> to our team in order to narrow down our decisions. </p>
			<p>With a framework for our player, I sketched, wireframed, and prototyped options for our prioritized scenarios. I presented more refined ideas in the form of Keynote or InVision prototypes to our team in order to narrow down our decisions.</p>
			<div class="image-wrapper"><img src="images/wave-sketch-1.png"></div>
			<div class="image-wrapper"><img src="images/wave-wireframe-version-1.png"></div>
			<div class="image-wrapper"><img src="images/wave-wireframe-version-2.png"></div>
			<div class="image-wrapper"><img src="images/wave-wireframe-version-3.png"></div>
			<p class="extra-space">Prototyping is a large part of my design process. After initial concepts are defined and vetted, I communicate more complex interactions and user flows using prototypes.
			<div class="image-wrapper">
				<video  controls=""><source src="images/wave-lo-fi-video.mp4" type="video/mp4"></video>
			</div>
			<div class="image-wrapper">
				<video  controls=""><source src="images/wave-mid-fi-video.mp4" type="video/mp4"></video>
			</div>
		</div>
		<div class="section">
			<h2 class="extra-space">User Testing</h2>
			<p>We tested two major concepts for the core video player interaction: Immersive Video Player (the video player takes over the entire screen and the users can browse content through a contextual drawer) VS. In-Page Video Player (the video player is a part of a larger page of content--users must scroll down to explore more content). The Results showed a larger preference for the Immersive Video Player. We used the testing to validate our design choice and ultimately went with the immersive experience.</p>
			<p>I also wrote up a A/B test script for our research team to conduct with users. I included example questions, objectives, hypothesis, and success criteria we were looking for.</p>
			<div class="image-wrapper"><img src="images/wave-user-test.png"></div>
		</div>
		<div class="section last">
			<div class="image-wrapper extra-space">
				<iframe src="https://player.vimeo.com/video/246625158" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<div class="next-proj">
	<div class="next-proj-container">
		<div class="next-proj-text-block">
			<div class="next-proj-header">- Next Up</div>
			<div class="next-proj-title"><a class="text-link" href="lam.html">Lazard Asset Management</a></div>
		</div>
	</div>
</div>

<footer>
		<div class="footer-text">
			<div class="footer-contacts">
				<ul class="contact-links">
					<li>
						<a href="mailto:justin.postonb@gmail.com" class="footer-p text-link">E-mail</a> 
					</li> 
					<li>
						<a href="www.linkedin.com/in/justinbposton" target="_blank" class="footer-p text-link">LinkedIn</a>
					</li>
					<li>
						<a href="documents/Justin-Poston_Product-Designer.pdf" class="footer-p text-link">Resume</a>
					</li>
				</ul>
			</div>

			<p class="last">✨ Designed and developed by Justin Poston - 2017. </p>
		</div>
	</footer>


